<!--header-->
<div class="row">

    <div class="small-12 medium-12 large-6 columns">
        <h1> Job Recommendations</h1>
    </div><!--close column-->

<% if params[:auth] == "unknown" %>

    <div class="row">

        <div class="small-12 medium-12 large-12 columns">
            <p>To start getting recommendations, apply for a job or sign-in.</p>
            <a href="#" class="button">Start a job search</a>
        </div><!-- close column -->

    </div><!-- close row -->

    <%= render :partial => 'user/sign_in_form' %>

<% end %>

<% if params[:result] == "zero" %>

<div class="row">

    <div class="small-12 medium-12 large-6 columns">
        <p>0 jobs found</p>
    </div><!--close column-->

</div><!--close row-->

<div class="row">

    <div class="small-12 medium-12 large-6 columns">
        <h2>What recommendations would you like to see?</h2>
        <p>You can always change these later in your recommendation preferences</p>

        <form>
            <label>Desired Job Title
                <input type="text" placeholder="" />
            </label>
            <label>Location
                <input type="text" placeholder="" />
            </label>
                <input id="jobalertcheck" type="checkbox"><label for="jobalertcheck">Create Job Alert</label><br />
                <a href="#" class="button">Get Job Recommendations</a>
        </form>

    </div><!-- close columns  -->

</div><!-- close row -->

<% end %><!-- close no results param-->

<% if params[:auth] == "known" || params[:auth] === "authenticated" %>


    <div class="small-12 medium-12 large-6 columns">
        <p>1,356 jobs found</p>
    </div><!--close column-->

</div><!--close row-->

<!--Recommendations preferences-->

<div class="row">

    <div class="large-3 columns show-for-large-up">
            <h6> Recommendation Preferences</h6>
            <ul class="side-nav">
                <li><label>Desired Locations</label></li>
                <li><a href="#" class="small-9 columns">Atlanta, GA</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="#" class="small-9 columns">Phoenix, AZ</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="recprefs_addlocation" class="button secondary expand">Add Locations</a></li>
                <li class="divider"></li>
                <li><label>Desired Job Title</label></li>
                <li><a href="#" class="small-9 columns">Customer Service</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="#" class="small-9 columns">Sales Associate</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="#" class="small-9 columns">Sales Manager</a><a class="small-1 columns" href="#">X</a></li>
                <li><a href="recprefs_addtitle" class="button secondary expand">Add Job Titles</a></li>
                <li class="divider"></li>
                <li><label>Skills</label></li>
                <li><a href="#" class="small-9 columns">Sales</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="#" class="small-9 columns">Client Relations</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="#" class="small-9 columns">Marketing</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="#" class="small-9 columns">Excel</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="#" class="small-9 columns">Salesforce</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="#" class="small-9 columns">View 7 More</a><a class="small-1 columns" href="#">></a></li>
                <li><a href="recprefs_addskills" class="button secondary expand">Add Skills</a></li>
                <li class="divider"></li>
                <li><label>Application History</label></li>
                <li><a href="#" class="small-9 columns">Sales Associate</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="#" class="small-9 columns">Client Relationship Manager</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="#" class="small-9 columns">Marketing Analyst</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="#" class="small-9 columns">Lead Generation</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="#" class="small-9 columns">Salesforce Analyst</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="#" class="small-9 columns">View 3 More</a><a class="small-1 columns" href="#">></a></li>
            </ul>
    </div><!--close column-->

<!--start right column sort and results-->

<!--rec preferences button for mobile version-->
    <div class="small-12 columns hide-for-medium-up">
        <a href="recprefs" class="button expand">Edit Recommendations</a>
    </div>

    <div class="medium-6 columns show-for-medium-only">
        <a href="recprefs" class="button">Edit Recommendations</a>
    </div>

<!--collapse sort to dropdown on mobile-->
    <div class="small-12 medium-12 hide-for-large-up">
        <button href="#" data-dropdown="mobilesort" aria-controls="mobilesort" aria-expanded="false" class="button dropdown secondary right">Relevance</button><br>
            <ul id="mobilesort" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                <li><a href="#">Date</a></li>
                <li><a href="#">Location</a></li>
            </ul>
    </div><!--end show for small only-->

<!--start sort-->
    <div class="large-5 right columns right show-for-large-up">
        <dl class="sub-nav right">
            <dt>Sort By:</dt>
                <dd class="active"><a href="#">Relevance</a></dd>
                <dd><a href="#">Date</a></dd>
                <dd><a href="#">Location</a></dd>
        </dl>
    </div><!--close columns-->

    <!--job result-->
  <div class="small-12 medium-12 large-9 columns">
    <% if params[:results].to_i > 0 %>
        <% params[:results].to_i.times do %>
            <%= render :partial => 'jobs/job_result' %>
      <% end %>
    <% end %>
  </div><!--close columns-->

</div><!--close row for filters and result-->

<%= render :partial => 'jobs/pagination' %>

<% end %><!--end query param for known and authenticated-->
