<!--header-->
<div class="row">
    <div class="large-9 columns">
        <h1> Job Recommendations</h1>
    </div><!--close column-->
</div><!--clos row-->

<!--filters-->
<!--TODO Collapse preferences into new page on mobile-->
<div class="row">
    <div class="large-2 columns">
        <!--Recommendations preferences-->
            <h6> Recommendation Preferences</h6>
            <ul class="side-nav">
                <li><label>Locations</label></li>
                <li><a href="#">Atlanta, GA</a></li>
                <li><a href="#">Dallas, TX</a></li>
                <li class="divider"></li>
                <li><label>Desired Job Title</label></li>
                <li><a href="#">Sales</a></li>
                <li><a href="#">Client Advocate</a></li>
            </ul>
    </div><!--close column-->
    <div class="large-1 columns">
        <ul class="side-nav">
            <li class="divider"></li>
            <li class="divider"></li>
            <li class="divider"></li>
            <li class="divider"></li>
            <li><a href="#">X</a></li>
            <li><a href="#">X</a></li>
            <li class="divider"></li>
            <li class="divider"></li>
            <li><a href="#">X</a></li>
        </ul>
    </div><!--close column-->

    <!--start right column sort and results-->
    <div class="large-9 columns">
        <div class="row">
            <div class="medium-3 columns">
                <p>100 jobs found</p>
            </div><!--close column-->
            <!--start sort-->
            <!--TODO collapse sort on mobile-->
            <div class="medium-7 columns">
                <dl class="sub-nav">
                    <dt>Sort By:</dt>
                        <dd class="active"><a href="#">Relevance</a></dd>
                        <dd><a href="#">Date</a></dd>
                        <dd><a href="#">Location</a></dd>
                </dl>
            </div><!--close columns-->
        </div> <!--end row-->
        <hr />
        <!--job result-->
        <div class="row">
            <div class="large-6 columns">
                <p>Account Manager</p>
                <p>Full-Time | Entry Level | $10/hr | Sales, Training | Our client, a leader in the production of medical technology solutions has an immediate need for...</p>
                <!--TODO hide link list on mobile-->
                <ul class="inline-list">
                    <li><a href="#">Save Job</a></li>
                    <li><a href="#">Email Job</a></li>
                    <li><a href="#">See Details</a></li>
                </ul>
            </div><!--close column-->
            <div class="large-2 columns">
                <a href="#">ABC Company</a>
            </div><!--close column-->
            <div class="large-2 columns">
                <p>GA-Atlanta</p>
                <a href="#"> + View 2 more</a>
            </div><!--close column-->
            <div class="large-2 columns">
                <p>1 Hour Ago</p>
            </div><!--close column-->
            <hr />
        </div><!--close row-->
    </div><!--close right column-->
        <!--pagination-->
        <div class="row">
            <div class="large-1 columns"></div>
            <div class="large-4 large-offset-7 columns">
                <a href="#" class="button secondary">Previous</a>
                <a href="#" class="button secondary">Next</a>
            </div><!--close column-->
        </div><!--close row-->
</div><!--close row-->