<!--header-->
<div class="row">
    <div class="small-12 large-6 columns">
        <h1> Job Recommendations</h1>
    </div><!--close column-->

<% if params[:auth] == "unknown" %>
    <div class="row">
        <div class="small-12 columns">
            <p>To start getting recommendations, apply for a job or sign-in.</p>
            <a href="#" class="button">Start a job search</a>
        </div><!-- close columsn -->
    </div><!-- close row -->
    <%= render :partial => 'user/sign_in_form' %>
<% end %>

<% if params[:result] == 0 %>
   <div class="small-12 large-6 columns">
        <p>0 jobs found</p>
    </div><!--close column-->
</div><!--close row-->

<div class="row">
    <div class="small-12 columns">
        <h2>What kind of recommendations would you like to see?</h2>
        <p>You can always change these later in your recommendation preferences</p>

        <form>
          <div class="row">
            <div class="large-12 columns">
              <label>Desired Job Title
                <input type="text" placeholder="" />
              </label>
                <label>Location
                <input type="text" placeholder="" />
              </label>
                <input id="jobalertcheck" type="checkbox"><label for="jobalertcheck">Create Job Alert</label>
                <a href="#" class="button">Get Job Recommendations</a>
            </div>
          </div>
        </form>
    </div><!-- close columns  -->
</div><!-- close row -->

<% end %><!-- close no results param-->

<% if params[:auth] == "known" || params[:auth] === "authenticated" %>

    <div class="small-12 large-6 columns">
        <p>1,356 jobs found</p>
    </div><!--close column-->
</div><!--close row-->

<!--Recommendations preferences-->

<div class="row">
    <div class="large-3 columns show-for-large-only">
            <h6> Recommendation Preferences</h6>
            <ul class="side-nav">
                <li><label>Locations</label></li>
                <li><a href="#" class="small-9 columns">Atlanta, GA</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="#" class="small-9 columns">Phoenix, AZ</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li class="divider"></li>
                <li><label>Desired Job Title</label></li>
                <li><a href="#" class="small-9 columns">Sales</a><a class="small-1 columns" href="#">X</a><hr /></li>
                <li><a href="#" class="small-9 columns">Client Advocate</a><a class="small-1 columns" href="#">X</a><hr /></li>
            </ul>
    </div><!--close column-->

<!--start right column sort and results-->

<!--rec preferences button for mobile version-->
    <div class="small-12 columns hide-for-large-only">
        <a href="recprefs" class="button">Edit Recommendations</a>
    </div>

<!--collapse sort to dropdown on mobile-->
    <div class="large-6 small-6 hide-for-large-only">
        <button href="#" data-dropdown="mobilesort" aria-controls="mobilesort" aria-expanded="false" class="button dropdown">Relevance</button><br>
            <ul id="mobilesort" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                <li><a href="#">Date</a></li>
                <li><a href="#">Location</a></li>
            </ul>
    </div><!--end show for small only-->

<!--start sort-->
    <div class="medium-5 right columns show-for-large-only">
        <dl class="sub-nav">
            <dt>Sort By:</dt>
                <dd class="active"><a href="#">Relevance</a></dd>
                <dd><a href="#">Date</a></dd>
                <dd><a href="#">Location</a></dd>
        </dl>
    </div><!--close columns-->

<!--job result-->
    <div class="small-9 columns">
        <%= render :partial => 'jobs/job_result' %>
        <%= render :partial => 'jobs/job_result' %>
    </div><!--close columns-->

</div><!--close row for filters and result-->

<%= render :partial => 'jobs/pagination' %>

<% end %><!--end query param for known and authenticated-->
