<% @search_bar = "no-search" %>

<div class="row">
    <div class="small-3 columns">
        <a href="recprefs"> < Back</a>
    </div>
    <div class="small-9 columns">
       <h3>Add Locations</h3>
    </div>
</div><!--close row-->

<form>
  <div class="row">
    <div class="large-12 columns">
      <label>Add a Desired Location
        <input type="text" placeholder="" />
      </label>
    </div><!-- close column -->
  </div>
</form>

<div class="row">
    <div class="large-12 columns">
        <a href="#" class="button expand">Save</a>

        <lable>Desired Locations</label>
        <ul>
            <li>Atlanta, GA</li>
            <li>Phoenix, AZ</li>
        </ul>
    </div>
</div>