<% @search_bar = "no-search" %>

<div class="row">
    <div class="small-3 columns">
        <a href="recommendations"> < Back</a>
    </div><!--close columns-->

    <div class="small-9 columns">
       <h3>Edit Recommmendations</h3>
    </div><!--close columns-->
    
</div><!--close row-->

<div class="row">

    <div class="small-12 columns">

       <label>Desired Location</label>
       <ul class="side-nav">
          <li class="rec-row1"><a href="#" class="small-11 columns pref">Atlanta, GA</a><a class="small-1 columns delete-rec1" href="#">X</a><hr /></li>
          <li><a href="#" class="small-11 columns pref">Phoenix, AZ</a><a class="small-1 columns" href="#">X</a></li>
          <li><a href="recprefs_addlocation" class="button secondary expand">Add Locations</a></li>
        </ul>

       <label>Desired Job Title</label>
        <ul class="side-nav">
            <li class="rec-row2"><a href="#" class="small-11 columns">Customer Service Rep</a><a class="small-1 columns delete-rec2" href="#">X</a><hr /></li>
            <li><a href="#" class="small-11 columns">Sales Associate</a><a class="small-1 columns" href="#">X</a><hr /></li>
            <li><a href="#" class="small-11 columns">Sales Manager</a><a class="small-1 columns" href="#">X</a></li>
            <li><a href="recprefs_addtitle" class="button secondary expand">Add Job Titles</a></li>
        </ul>

        <label>Skills</label>
        <ul class="side-nav">
            <li><a href="#" class="small-11 columns">Sales</a><a class="small-1 columns" href="#">X</a><hr /></li>
            <li><a href="#" class="small-11 columns">Client Relations</a><a class="small-1 columns" href="#">X</a><hr /></li>
            <li><a href="#" class="small-11 columns">Marketing</a><a class="small-1 columns" href="#">X</a><hr /></li>
            <li><a href="#" class="small-11 columns">Excel</a><a class="small-1 columns" href="#">X</a><hr /></li>
            <li><a href="#" class="small-11 columns">Salesforce</a><a class="small-1 columns" href="#">X</a><hr /></li>
            <li><a href="#" class="small-11 columns" id="viewmore">View 7 More</a><a class="small-1 columns" href="#">></a></li>
            <li><a href="recprefs_addskills" class="button secondary expand">Add Skills</a></li>
        </ul>

        <label>Application History</label>
        <ul class="side-nav">
            <li><a href="#" class="small-11 columns">Sales Associate</a><a class="small-1 columns" href="#">X</a><hr /></li>
            <li><a href="#" class="small-11 columns">Client Relationship Manager</a><a class="small-1 columns" href="#">X</a><hr /></li>
            <li><a href="#" class="small-11 columns">Marketing Analyst</a><a class="small-1 columns" href="#">X</a><hr /></li>
            <li><a href="#" class="small-11 columns">Lead Generation</a><a class="small-1 columns" href="#">X</a><hr /></li>
            <li><a href="#" class="small-11 columns">Salesforce Analyst</a><a class="small-1 columns" href="#">X</a><hr /></li>
            <li><a href="#" class="small-11 columns">View 3 More</a><a class="small-1 columns" href="#">></a></li>
        </ul>

    </div><!--close columns-->

</div><!--close row-->