<% @search_bar = "no-search" %>

<div class="row">
    <div class="small-3 columns">
        <a href="recprefs"> < Back</a>
    </div>
    <div class="small-9 columns">
       <h3>Add Desired Job Titles</h3>
    </div>
</div><!--close row-->

<form>
  <div class="row">
    <div class="large-12 columns">
      <label>Add a Desired Job Title
        <input type="text" placeholder="" />
      </label>
    </div><!-- close column -->
  </div>
</form>

<div class="row">
    <div class="large-12 columns">
        <a href="#" class="button expand">Save</a>

        <lable>Desired Job Titles</label>
        <ul>
            <li>Customer Service Rep</li>
            <li>Sales Associate</li>
            <li>Sales Manager</li>
        </ul>
    </div>
</div>