<% @search_bar = "no-search" %>

<div class="row">
    <div class="small-3 columns">
        <a href="recprefs"> < Back</a>
    </div>
    <div class="small-9 columns">
       <h3>Add Skills</h3>
    </div>
</div><!--close row-->

<form>
  <div class="row">
    <div class="large-12 columns">
      <label>Add a Skill
        <input type="text" placeholder="" />
      </label>
    </div><!-- close column -->
  </div>
</form>

<div class="row">
    <div class="large-12 columns">
        <a href="#" class="button expand">Save</a>

        <lable>Skills</label>
        <ul>
            <li>Sales</li>
            <li>Client Relations</li>
            <li>Marketing</li>
            <li>Excel</li>
            <li>Salesforce</li>
        </ul>
    </div>
</div>