<div class="row">
    <div class="small-12 columns">
       <h1>Edit Recommmendations</h1>
       <label>Desired Location</label>
       <ul class="side-nav">
          <li><a href="#">Atlanta, GA</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
       <label>Desired Job Title</label>
       <label>Skills</label>
       <label>Application History</label> 
    </div><!--close columns-->
</div><!--close row-->