<div class='banner-container'>
	<div class="row full-fluid banner">
		<div  class="column small-12 ">
			<h1>Bilingual Customer Care Representative</h1>
			<div class="row">
				<ul class="mirror-list align-right column small-6 ">
					<li><span>Atlanta</span></li>
					<li><span>Full-Time</span></li>
					<li><span>3+ Years Experience Minimum</span></li>
					<li><span>Up to 25% Travel</span></li>
					<li><span>Relocation Not Covered</span></li>
					<li><span>Customer Service</span></li>
				</ul>
				<ul class="mirror-list column small-6">
					<li><span>1 Day Ago</span></li>
					<li><span>$100k - $130k Estimated Annual Salary</span></li>
					<li><span>+ Bonus</span></li>
					<li><span>4 Year Degree Required</span></li>
					<li><span>Manages Other</span></li>
					<li><span>Customer Products</span></li>
				</ul>
			</div>
		</div><!--Closure of column12 -->	
	</div><!--Closure of row -->

	<%= render 'slide_door_panel' %>

</div><!--Closure of banner container-->