<div class="row list-style-1" >
	<h3  class="column small-2 ">
		 Skill Match
	</h3>
	<ul  class="column small-10 ">
		<li>Inside Sales</li> 
		<li>Outside Sales</li> 
		<li>Cold Calling</li> 
		<li>Account Management</li> 
		<li>Customer Service Management</li> 
	</ul>
</div><!--Closure of row-->

<p>The Audit Tool of the Future will replace the GAMx platform for the audit practice. The platform will support the full lifecycle of an audit form planning to close/archive.</p>
<p>Technology that this candidate would work. The Audit Tool of the Future will be a .NET, SQL Server and SharePoint application</p>
<p>Reporting directly to a Test lead or Test Manager you will work with medium sized automated teams responsible for delivery of Quality Assured applications to production. Responsible for automating test cases for regression execution within a Sprint (Iteration).</p>
<p>The team is multi-disciplined consisting of Business Analysts, Tech Leads, Product Owner, Data Modelers/Developers, QA and a SCRUM Master. Candidate must possess a thorough understanding of Agile Methodology, web application development source code (i.e. ASP.net, PHP, JavaScript)</p>

<dl class="dl-style-compact">
	<dt>Responsibilities:</dt>
	<dd>Ensure that all system tests are successfully completed and documented and all problems are resolved</dd>
	<dd>Review Observation/Defects daily created by automated team</dd>
	<dd>Support all quality initiatives that are implemented during each Sprint</dd>
	<dd>Support in the development of quality assurance and testing policies, standards and procedures</dd>
	<dd>Initiate Risk management and escalation</dd>
	<dd>Develop and maintain strong working relationships with other IT Services, IT Solutions functions and customers to expedite delivery of IT solution</dd>
	<dd>Review Manual and Automated test Results</dd>
	<dd>Assist in the development of quality assurance and testing policies, standards, and procedures</dd>
	<dd>Conduct tests and analyze results to ensure that software meets or exceeds specified standards and/or client requirements</dd>
	<dd>Provide daily test status to the Test Lead</dd>
	<dd>Adhere to QA & Test processes to support global QA Testing activities</dd>
	<dd>Support Team Lead in upward stakeholder management and day-to-day management of the QA & Test organization</dd>
	<dd>Proficient at scheduling testing and meeting delivery deadlines</dd>
	<dd>Ability to work within a high performing Agile environment</dd>
	<dd>Knowledge of network infrastructure components and concepts</dd>
	<dd>Must be able to create automated scripts using QTP or UFT</dd>
	<dd>Must have Knowledge and hands on experience of SQL scripting</dd>
	<dd>Must have experience working in an Agile environment</dd>
	<dd>Work with upstream and downstream application teams to create and execute test cases</dd>
	<dd>Provide appropriate knowledge transfer to offshore testers to assist in effort</dd>
	<dd>Support the implementation and management of strategic initiatives to support global QA Testing activities including standards, strategies, and roadmaps</dd>
	<dd>Assist in the development, maintenance, and the provision of training on testing procedures</dd>
	<dd>Ability to build good relationships both within the QA & Test team and with other teams</dd>
	<dd>Excellent knowledge of Software Development Lifecycle including Functional & Non-Functional Test Phases</dd>
	<dd>Excellent management, interpersonal, written and verbal communication, and organizational skills</dd>
	<dd>Excellent attention to detail</dd>
	<dd>The ability to work and team effectively with clients and other management personnel across geographies</dd>	
	<dd>Flexibility to adjust to multiple demands, shifting priorities, ambiguity and rapid change</dd>	
	<dd>Ability to understand and integrate cultural differences and lead virtual cross-cultural, cross-border teams</dd>
	<dt>Technical Skills:</dt>
	<dd>QA Analyst 7-10 years</dd>
	<dd>ETL testing against SQL Server 2012 2-3 years</dd>
	<dd>Agile Development 2-4 years</dd>
	<dd>Experience in writing complex queries 2-3 years</dd>
	<dd>QTP or UFT 4-6 years, API and web Service testing 2-3 years</dd>	
	<dd>HP/ALM 3-5 years, XML, JSON, HTTP 2-3 years</dd>
	<dd>TFS 1-3 years, Solid SQL 4-5 years</dd>

	<dt>Soft Skills:</dt>
	<dd>Team Leader - Strong</dd>
	<dd>In depth knowledge of QA testing procedures and theory - Strong</dd>
	<dd>Team Player - Strong, Communication - Strong</dd>
	<dd>Coordinate the work efforts of onshore/offshore - Strong</dd>
	<dd>In depth knowledge of computer hardware, software, and Microsoft platforms -Strong</dd>
	
	<dt>Desirable Skills:</dt>
	<dd>Selenium 1-2 years</dd>
	<dd>QTP/ UFT 4-5 years</dd>	

	<dt>To qualify, candidates must have:</dt>
	<dd>Approximately 5-7 years of comprehensive application software testing experience</dd>
	<dd>Excellent knowledge of various testing practices, including: unit/string testing; system/functional testing; integration testing; performance/stress testing; user acceptance testing; and automated testing tools, configuration management tools, and/or system platforms</dd>
	<dd>One or more certificates to supplement formal education</dd>
	<dd>Proficiency in approximately 23 QA technical-oriented disciplines</dd>
	<dd>Sound interpersonal, communication, organizational, and project management skills</dd>	
	<dd>Ability to work effectively with clients, management and staff members</dd>	
	<dt>Education:</dt>
	<dd>A bachelor's degree in Computer Science or a related discipline, or equivalent work experience</dd>
</dl>
<p>VisionIT is a global leader in the areas of Talent Management Solutions and Information Technology (IT) Managed Services. For close to 20 years, VisionIT has combined focus, agility, streamlined operations and the most talented professionals to deliver unmatched services to many Fortune 500 corporations and large government agencies. With offices across the United States, Mexico and the Philippines with global delivery in Latin America, Europe and Asia, VisionIT operates FAST. To learn more about VisionIT, please visit www.visionit.com.</p>
