<div class="company-details">
	<div class="company-images">
		<a href="#">View All Photos</a>
		<div class="company-logo"> </div>
	</div><!--Closure of company images-->

	<h2>Sovran Self Storage</h2>
	<ul>
		<li><span class="fa fa-university"></span> Headquartered in Atlanta, Georgia</li>
		<li><span class="fa fa-trophy"></span> 1-100 Employees</li>
		<li><span class="fa fa-diamond"></span> Privately Owned</li>
		<li><span class="fa fa-leaf"></span> 10 Years in Business</li>
		<li><span class="fa fa-tty"></span> 1-800-923-456</li>
		<li><span class="fa fa-headphones"></span> <a href="#" target="_new">www.sovranselfstorage.com</a></li>
	</ul>

 	<button class ="btn btn-primary">Join Talent Network</button>

 
	<p class="spots">
		<span class="fa fa-circle"></span>
		<span class="fa fa-circle"></span>
		<span class="fa fa-circle"></span>
	</p>

<aside class="well">
	<p>I love working at sovran, they have great benefits and really care about their people and culture.</p>
</aside>

	<p>Anonymous Vancouver, Canada</p>


<p><strong>STAY CONNECTED </strong> <br/>  with Sovran Self Storage</p>

<p>Stay up to date on news or share new opportunity with your network</p>
<p class="social-icons">
	<span class="fa fa-facebook-official"></span>
	<span class="fa fa-linkedin-square"></span>
	<span class="fa fa-twitter-square"></span>
	<span class="fa fa-google-plus-square"></span>
</p>
 
</div><!--Company details-->
<dl>
	<dt>Similar Jobs</dt>
	<dd>Full-Time Customer Service Trainer - Sales Skills Needed <span>Atlanta, Georgia</span></dd>
	<dd>Retail Customer Service Representative <span>Atlanta, Georgia</span></dd>
	<dd>Amazing Account Rep <span>Atlanta, Georgia<span></dd>
	<dd>Customer Service Representative <span>Atlanta, Georgia<span></dd>
</dl>
<p><a href="">View All Similar Jobs</a></p>

 

 





 
