<div class="slide-door-frame">
	<div class="snap-shot">
		<dl>
			<dd><span>14</span> </dd>
			<dt>Applications</dt>
			<dd><span>$120k</span></dd>
			<dt>Average Salary</dt>
			<dd><span>2-4 Years</span></dd>
			<dt>Average Experience</dt>
			<dd><span>4 Year Degree</span></dd>
			<dt>Average Education</dt>
		</dl>
	</div><!--Closure of snapshot-->
	<div class="slide-door">
		<div class="slide-door-handle-hinge"> <a class="slide-door-handle"><span class="fa fa-user"></span>View Applicant Insigths</a></div>
		<div class="slide-door-pane">
		
			<div class="row">
				<div  class="column small-4">
						<div  class="insights-graph1"> Insights graph</div><!--Closure of insights-graph1 -->
						<div  class="insights-graph2"> Insights graph</div><!--Closure of insights-graph2 -->
				</div><!--Closure of column -->
				<div  class="column small-8">
						<div  class="insights-graph3"> Insights graph</div><!--Closure of insights-graph3 -->
						<div  class="insights-graph4"> Insights graph</div><!--Closure of insights-graph4 -->
				</div><!--Closure of column -->
			</div><!--Closure of row -->					
			<div class="row">
				<div  class="column small-12">
						<div  class="insights-graph5"> Insights graph</div><!--Closure of insights-graph4 -->
				</div><!--Closure of column -->
			</div><!--Closure of row -->
		</div><!--Closure of slide-door-pane-->
	</div><!--Closure of slide-door -->
</div><!--Closure of slide-door-frame -->