<aside class="sticky-menu">
	<ul>
		<li id="save-job">
			<span id="save-icon" class="fa fa-star-o"></span>
			<div class="chevron-box sticky-sub-menu-1">

				<p id="status-saved"><span class="fa fa-check-square-o"></span>Job Saved</p>
				<p id="status-unsaved"><span class="fa fa-square-o"></span>Job Unsaved</p>
			</div><!--Closure of sticky-sub-menu-1-->


		</li>
		<li id="email-job">
			<span class="fa fa-envelope"></span>
			<div class="chevron-box sticky-sub-menu-2">
				<form id="email-job-form">
					<label>Receipient's Email</label>
					<input id="recepients-email" type="email" palceholder="Email Address"/>
					<button id="recepients-email-send" class="btn btn-primary">Send</button>
				</form>				
				<div id="email-job-success">
					<p><span class="fa fa-check-square-o"></span>Email Sent to : </p>
				</div>
			</div><!--Closure of sticky-sub-menu-2-->
		</li>
		<li>
			<span id="previous-job" class="fa fa-chevron-left"></span>
			<div class="chevron-box sticky-sub-menu-3">
				<p>Next job:</p>
				<p>Customer care and support Executive</p>

			</div>
		</li>
		<li>
			<span id="next-job" class="fa fa-chevron-right"></span>
			<div class="chevron-box sticky-sub-menu-4">
				<p>Previous job: </p>
				<p>Sales and Marketing Executive</p>
			</div>
		</li>
		<li>
			<a href="#"><span id="scroll-down"class="fa fa-chevron-up"></a></span>
			<div class="chevron-box sticky-sub-menu-5"></div>
		</li>
	</ul>
</aside>

