<section class="central-container">
  <%= render 'sticky_menu' %>
  <%= render 'banner' %>

	
	<div class="row full-fluid thin-band">
		<div  class="column small-12 ">
	 		<p>See yourself here? Apply today! &nbsp; <button class="btn btn-primary">Apply</button></p>
		</div><!--Closure of column12 -->
	</div><!--Closure of row -->

	<div class="row">
		<div class="column small-4">
			<%= render 'job_profile'%>
		</div><!--Closure of column3 -->		
		<div class="column small-8">
 			<%= render 'job_description'%>
		</div><!--Closure of column9 -->
	</div><!--Closure of row -->
	<div class="row">
		<div class="column small-12">
			<aside class="footer-banner">
			Footer Banner
			</aside>
			<h4>CAREERBUILDER TIP:</h4>
			<p>For your privacy and protection, when applying to a job online, never give your social security number to a prospective employer, provide credit card or bank account information, or perform any sort of monetary transaction. Learn more.</p>
			<p>By applying to a job using CareerBuilder.com you are agreeing to comply with and be subject to the CareerBuilder.com Terms and Conditions for use of our website. To use our website, you must agree with the Terms and Conditions and both meet and comply with their provisions.</p>
		</div>
	</div>
</section>

 