<h2 id="resumes">Resumes</h2>
<div class="row">
	<div class="column small-12">
		<% if session[:resumes].to_i > 0 %>
			<% session[:resumes].times do |i| %>
				<ul class="inline-list">
					<li><a>Resume Name Here <%= i %></a></li>
					<li class="right">
						<%= link_to url_for(success: "true", status: "resume_deleted"), onclick: "$(this).parent().parent().remove();" do %>
							<i class="fa fa-trash fa-lg"></i>
						<% end %>
					</li>
					<li class="right">
						<%= link_to resumes_preview_path do %>
							<i class="fa fa-pencil fa-lg"></i>
						<% end %>
					</li>
				</ul>
			<% end %>
		<% else %>
			<div class="panel">
				<p>You have no saved resumes</p>
				<p>Uploading a resume will allow you to easily apply to jobs and have employers find you</p>
			</div>
		<% end %>
	</div>
</div>
<%= link_to "Upload Resume", resumes_post_path, class: "button expand" %>