<div class='columns medium-2 large-2 hide-for-small-only'>
<img src="http://placehold.it/180x180&text=Company Logo" alt="company logo">
</div>
<div class='columns small-12 medium-10 large-10' >
    <h2><%= link_to "Careerbuilder", jobs_companyprofile_path %></h2>
        <p>Chicago, IL | Private | 1,000 - 2,500 Employees | Sales-Marketing, Internet - ECommerce, Consulting</p>
      <ul class="inline-list">
        <li><a href="jobs">View Active Jobs</a></li>
      </ul>
</div>
  <hr />