<!-- <label>Date Posted
	<ul class="side-nav">
	  <li><a href="#">24 Hours</a></li>
	  <li><a href="#">3 Days</a></li>
	  <li><a href="#">7 Days</a></li>
	  <li class="active"><a href="#">30 Days</a></li>
	</ul>
</label> -->
<div class="row">
	<div class="column small-12">
		<label>Date Posted
			<ul class="side-nav">
		    <li><input type="radio" checked name="dateposted"><label for="pokemonRed">Last 30 Days</label></li>
		   	<li><input type="radio" name="dateposted"><label for="pokemonRed">Last 7 Days</label></li>
		    <!--<li><input type="radio" name="dateposted"><label for="pokemonRed">Last 3 Days</label></li>-->
		    <li><input type="radio" name="dateposted"><label for="pokemonRed">Last 24 Hours</label></li>
		</ul>
		<!-- <label>Date Posted -->
			<!-- <select> -->
				<!-- <option>Last 30 Days</option> -->
				<!-- <option>Last 24 Hours</option> -->
				<!-- <option>Last 3 Days</option> -->
				<!-- <option>Last 7 Days</option> -->
			<!-- </select> -->
		<!-- </label> -->
	</div>
</div>