<label>Degree Required
	<select>
		<option>Not Specified</option>
		<option>None</option>
		<option>High School</option>
		<option>2 Year Degree</option>
		<option>4 Year Degree</option>
		<option>Graduate Degree</option>
	</select>
</label>