<fieldset>
	<legend>Distance Within <span class="fa fa-chevron-up"></span></legend>
	<ul class="input-group" style="display: block;">
		<li><input type="radio" checked name="distancefrom"><label for="distancefrom">25 miles <span>(45)</span></label></li>
		<li><input type="radio" name="distancefrom"><label for="distancefrom">50 miles <span>(90)</span></label></li>
		<li><input type="radio" name="distancefrom"><label for="distancefrom">75 miles <span>(245)</span></label></li>
		<li><input type="radio" name="distancefrom"><label for="distancefrom">100 miles <span>(567)</span></label></li>
		<li><input type="radio" name="distancefrom"><label for="distancefrom">Exact Location Only <span>(12)</span></label></li>
	</ul>
</fieldset>