<div class="row">
	<div class="column small-12">
		<label>Distance from You
			<ul class="side-nav">
		    <li><input type="radio" checked name="distancefrom"><label for="distancefrom">within 25 miles</label></li>
		   	<li><input type="radio" name="distancefrom"><label for="distancefrom">within 50 miles</label></li>
		    <li><input type="radio" name="distancefrom"><label for="distancefrom">within 75 miles</label></li>
		    <li><input type="radio" name="distancefrom"><label for="distancefrom">within 100 miles</label></li>
		    <li><input type="radio" name="distancefrom"><label for="distancefrom">Exact Location Only</label></li>
		</ul>


		  <!-- <select> -->
		  	<!-- <option>Select...</option> -->
				<!-- <option>within 25 miles</option> -->
		    <!-- <option>within 50 miles</option> -->
		  	<!-- <option>within 75 miles</option> -->
		  	<!-- <option>within 100 miles</option> -->
		  <!-- </select> -->
		</label>
	</div>
</div>