<div class="row">
	<div class="column small-12">
		<label>Distance from You
		  <select>
		  	<option>Select...</option>
				<option>within 25 miles</option>
		    <option>within 50 miles</option>
		  	<option>within 75 miles</option>
		  	<option>within 100 miles</option>
		  </select>
		</label>
	</div>
</div>