<div class="row">
	<div class="column small-12">
		<label>Distance from You
			<ul class="side-nav">
		    <li><input type="radio" CHECKED name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">within 25 miles</label></li>
		   	<li><input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">within 50 miles</label></li>
		    <li><input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">within 75 miles</label></li>
		    <li><input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">within 100 miles</label></li>
		    <li><input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Exact Location Only</label></li>
		</ul>


		  <!-- <select> -->
		  	<!-- <option>Select...</option> -->
				<!-- <option>within 25 miles</option> -->
		    <!-- <option>within 50 miles</option> -->
		  	<!-- <option>within 75 miles</option> -->
		  	<!-- <option>within 100 miles</option> -->
		  <!-- </select> -->
		</label>
	</div>
</div>