<div class="row">
	<div class="column small-12">
  	<label>Job Type</label>
	</div>
  <% @job_type_filters.each do |key, value| %>
    <div class="column small-12">
    	<label>
    		<input type="checkbox" name="<%= value %>">
    		<%= key %>
    	</label>
  	</div>
  <% end %>
</div>