<% if params[:apply] == "quickapply" %>

    <div class="row">
        <div class="small-10 large-6 columns">
            <h2>Account Manager</h2>
            <p class="hide-for-small-only">Full-Time | Entry Level | $10/hr | Sales, Training | Our client, a leader in the production of medical technology solutions has an immediate need for...</p>
            <ul class="inline-list show-for-large-only">
                <li><a href="#">Save Job</a></li>
                <li><a href="#">Email Job</a></li>
                <li><a href="#">See Details</a></li>
            </ul>
        </div><!--close column-->

        <div class="small-10 large-2 columns">
            <a href="#">ABC Company</a>
        </div><!--close column-->

        <div class="small-10 large-2 columns">
            <p>GA-Atlanta
                <br /><a href="#"> + View 2 more</a>
            </p>
        </div><!--close column-->

        <div class="small-10 large-2 columns">
            <p>1 Hour Ago</p>
        </div><!--close column-->

        <hr />
    </div><!--close row-->

<% end %>

<div class="row">
    <div class="small-12 large-6 columns">
        <h2>Account Manager</h2>
        <p class="hide-for-small-only">Full-Time | Entry Level | $10/hr | Sales, Training | Our client, a leader in the production of medical technology solutions has an immediate need for...</p>
        <ul class="inline-list show-for-large-only">
            <li><a href="#">Save Job</a></li>
            <li><a href="#">Email Job</a></li>
            <li><a href="#">See Details</a></li>
        </ul>
    </div><!--close column-->

    <div class="small-12 large-2 columns">
        <a href="#">ABC Company</a>
    </div><!--close column-->

    <div class="small-12 large-2 columns">
        <p>GA-Atlanta
            <br /><a href="#"> + View 2 more</a>
        </p>
    </div><!--close column-->

    <div class="small-12 large-2 columns">
        <p>1 Hour Ago</p>
    </div><!--close column-->

    <hr />
</div><!--close row-->
