<div class="row" id="job-type-filter">
	<div class="column small-12">
  	<label>Job Type</label>
        <label>
        <input type="checkbox" class="filter-all" checked name="all">
        All
    </label>
  <% @job_type_filters.each do |key, value| %>
    	<label>
    		<input type="checkbox" class="filter" name="<%= value %>">
    		<%= key %>
    	</label>
  <% end %>
</div>
</div>