<div class="row">

<% if params[:branding] == "premium" || params[:branding] == "standard" || params[:branding] == "basic" %>

	<div class="columns medium-4 large-3 hide-for-small-only">
		<img src="http://placehold.it/180x180">
	</div><!--close column-->

	<div class="columns small-12 medium-8 large-9 columns">

<% else %>

	<div class="small-12 medium-12 large-12 columns ">

<% end %>

    <h1>Account Manager</h1>
    <p>1 Hour Ago</p>
    <a href="#">ABC Company</a>
    <p>GA-Atlanta</p>

<div class="row">
    <div class="small-12 medium-8 large-4 columns">
    <ul class="button-group">
        <li><a href="#" class="small button secondary" data-reveal-id="emailjob">Email Job</a></li>
            <div id="emailjob" class="reveal-modal" data-reveal>
            <h2>Email Job</h2>
                <form>
                <div class="row">
                    <div class="small-12 medium-6 large-6 columns">
                        <label>From (Your Email Address)
                        <input type="text" placeholder="" />
                        </label>
                        <label>To (Recipients Email Address)
                        <input type="text" placeholder="" />
                        </label>
                        <label>Your Name
                        <input type="text" placeholder="" />
                        </label>
                        <label>Notes
                        <textarea placeholder=""></textarea>
                        </label>
                        <p>140 Characters Left</p>
                    </div>
                </div>
                </form>
                <a href="jdp" class="button">Send Email</a>
                <a href="jdp">Cancel</a>
            </div>
        <li><a href="#" class="small button secondary" id="job_save_btn">Save Job</a></li>
    </ul>
    </div>

  <div class="small-12 medium-4 large-2 large-offset-4 right columns">
        <%= link_to "Apply Now", apply_path, class: "button expand" %>
    </div><!--close column-->
</div>

</div><!--close row-->