<div class="row">
	<% if params[:branding] == "premium" %>
		<div class="column medium-4 hide-for-small-only">
			<img src="http://placehold.it/260x260">
		</div>
		<div class="column small-12 medium-8">
	<% else %>
		<div class="column small-12 ">
	<% end %>
		<h1> Job title HERE</h1>
		<p> text text more text and some other text</p>
	</div>
</div>