    <fieldset>
        <legend>Salary <span class="fa fa-chevron-down"></span></legend>
        <ul class="input-group">
        <li><input type="radio" checked name="salary"><label for="salary">All <span>(4,563)</span></label></li>
        <li><input type="radio" name="salary"><label for="salary">$40,000+ <span>(997)</span></label></li>
        <li><input type="radio" name="salary"><label for="salary">$60,000+ <span>(897)</span></label></li>
        <li><input type="radio" name="salary"><label for="salary">$80,000+ <span>(701)</span></label></li>
        <li><input type="radio" name="salary"><label for="salary">$100,000+ <span>(690)</span></label></li>
        <li><input type="radio" name="salary"><label for="salary">$120,000+ <span>(603)</span></label></li>
        <li><input type="radio" name="salary"><label for="salary">$140,000+ <span>(576)</span></label></li>
        <li><input type="radio" name="salary"><label for="salary">$160,000+ <span>(540)</span></label></li>
        <li><input type="radio" name="salary"><label for="salary">$180,000+ <span>(345)</span></label></li>
        <li><input type="radio" name="salary"><label for="salary">$200,000+ <span>(222)</span></label></li>
        </ul>
    </fieldset>