<div class="row collapse">
	<div class="column small-12">
    <fieldset>
        <legend>Salary <span class="fa fa-chevron-up"></span></legend>
        <ul class="input-group" style="display: block;">
        <li><input type="radio" checked name="salary"><label>All <span>(4,563)</span></label></li>
        <li><input type="radio" name="salary"><label>$40,000+ <span>(997)</span></label></li>
        <li><input type="radio" name="salary"><label>$60,000+ <span>(897)</span></label></li>
        <li><input type="radio" name="salary"><label>$80,000+ <span>(701)</span></label></li>
        <li><input type="radio" name="salary"><label>$100,000+ <span>(690)</span></label></li>
        <li><input type="radio" name="salary"><label>$120,000+ <span>(603)</span></label></li>
        <li><input type="radio" name="salary"><label>$140,000+ <span>(576)</span></label></li>
        <li><input type="radio" name="salary"><label>$160,000+ <span>(540)</span></label></li>
        <li><input type="radio" name="salary"><label>$180,000+ <span>(345)</span></label></li>
        <li><input type="radio" name="salary"><label>$200,000+ <span>(222)</span></label></li>
        </ul>
    </fieldset>
	</div>
</div>