<div class="show-for-medium-up">
    <h3>Similar Jobs</h3>
        <h2><a href="#">Account Manager</a></h2>
        <p><a href="#">ABC Company</a> in GA-Atlanta</p>
        <hr />
</div><!--close for show medium up-->