<ul class="small-block-grid-4 hide-for-small-only">
    <li><img class="placeholder" src="<%= image_path ('icon_placeholder.png') %>" alt="icon placeholder"/></li>
    <li><img class="placeholder" src="<%= image_path ('icon_placeholder.png') %>" alt="icon placeholder"/></li>
    <li><img class="placeholder" src="<%= image_path ('icon_placeholder.png') %>" alt="icon placeholder"/></li>
    <li><img class="placeholder" src="<%= image_path ('icon_placeholder.png') %>" alt="icon placeholder"/></li>
</ul>