<div class="flex-video medium-centered medium-6">
    <iframe width="420" height="315" src="//www.youtube.com/embed/h2IychVOKPw" frameborder="0" allowfullscreen></iframe>
</div><!--close flex video-->
<p><a href="#">View 8 More Videos</a></p>