<div class="row">
    <div class="small-12 large-4 columns">
        <h1>Find Jobs</h1>
    </div>
</div>

<div class="row">
    <div class="small-12 medium-2 large-2 columns">
        <ul class="side-nav">
        <li><h3>Search By</h3></li>
        <li><a href="find_jobs_searchstate">State</a></li>
        <li class="active"><a href="#">Job Title</a></li>
        <li><a href="find_jobs_category">Category</a></li>
        <li><a href="find_jobs_company">Company</a></li>
        </ul>
    </div>
    <div class="small-12 medium-10 large-10 columns">
        <div class="row">
            <div class="small-12 columns">
                <ul class="inline-list">
                <li><h3>Job Title:</h3></li>
                  <li><a href="#">A</a></li>
                  <li><a href="#">B</a></li>
                  <li><a href="#">C</a></li>
                  <li><a href="#">D</a></li>
                  <li><a href="#">E</a></li>
                    <li><a href="#">F</a></li>
                    <li><a href="#">G</a></li>
                    <li><a href="#">H</a></li>
                    <li><a href="#">I</a></li>
                    <li><a href="#">J</a></li>
                    <li><a href="#">K</a></li>
                    <li><a href="#">L</a></li>
                    <li><a href="#">M</a></li>
                    <li><a href="#">N</a></li>
                    <li><a href="#">O</a></li>
                    <li><a href="#">P</a></li>
                    <li><a href="#">Q</a></li>
                    <li><a href="#">R</a></li>
                    <li><a href="#">S</a></li>
                    <li><a href="#">T</a></li>
                    <li><a href="#">U</a></li>
                    <li><a href="#">V</a></li>
                    <li><a href="#">W</a></li>
                    <li><a href="#">X</a></li>
                    <li><a href="#">Y</a></li>                  
                    <li><a href="#">Z</a></li>
                </ul>  
            </div>
        </div><!--close row-->
        <div class="row">
            <div class="small-12 large-12 columns">
                <h3>Top 25 Job Titles</h3>
                <hr />
            </div>
        </div><!--close row-->
        <div class="row">
            <div class="small-12 medium-4 large-4 columns">
                <ul class="findjobslist side-nav">
                    <li><a href="../jobs">Assistant</a></li>
                    <li><a href="../jobs">Teacher</a></li>
                    <li><a href="../jobs">Technician</a></li>
                    <li><a href="../jobs">Manager</a></li>
                    <li><a href="../jobs">IS Manager</a></li>
                    <li><a href="../jobs">IT Technician</a></li>
                    <li><a href="../jobs">IT Manager</a></li>
                </ul>
            </div>
            <div class="small-12 medium-4 large-4 columns">
                <ul class="findjobslist side-nav">
                    <li><a href="../jobs">IT Engineer</a></li>
                    <li><a href="../jobs">Engineer</a></li>   
                    <li><a href="../jobs">Driver</a></li>
                    <li><a href="../jobs">Designer</a></li>
                    <li><a href="../jobs">CNA</a></li>
                    <li><a href="../jobs">Pharmacist</a></li>
                    <li><a href="../jobs">Officer</a></li>
                </ul>
            </div>
            <div class="small-12 medium-4 large-4 columns">
                <ul class="findjobslist side-nav">
                    <li><a href="../jobs">Therapist</a></li>
                    <li><a href="../jobs">Guard</a></li>
                    <li><a href="../jobs">Truck Driver</a></li>
                    <li><a href="../jobs">Attorney</a></li>
                    <li><a href="../jobs">Physician</a></li>   
                    <li><a href="../jobs">Medical Assistant</a></li>
                </ul>
            </div>
        </div><!--close row-->
    </div>
</div>
