<!--job header-->
<div class="row">
    <div class="large-6 columns">
        <h3>Account Manager</h3>
        <p>Full-Time | Entry Level | $10/hr | Sales, Training | Our client, a leader in the production of medical technology solutions has an immediate need for...</p>
        <!--TODO hide link list on mobile-->
        <ul class="inline-list">
            <li><a href="#">Save Job</a></li>
            <li><a href="#">Email Job</a></li>
            <li><a href="#">See Details</a></li>
        </ul>
    </div><!--close column-->
    <div class="large-2 columns">
        <a href="#">ABC Company</a>
    </div><!--close column-->
    <div class="large-2 columns">
        <p>GA-Atlanta</p>
        <a href="#"> + View 2 more</a>
    </div><!--close column-->
    <div class="large-2 columns">
        <p>1 Hour Ago</p>
    </div><!--close column-->
    <hr />
</div><!--close row-->