.row, #bump {
	margin-top: .5em;
}

nav .row {
	margin-top: 0;
}

nav {
	background-color: $topbar-bg-color;
}

footer {
	background-color: $smoke;
}

.global-search .row {
	margin-top: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}


.help-center {
	background-color: $white-smoke;
}

.top-bar
	.name, .toggle-topbar, .toggle-topbar-2 {
		display: inline-block;
}

.top-bar .toggle-topbar {
	position: relative;
}

.top-bar .toggle-topbar-2 a, .top-bar .toggle-topbar a {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: normal;
	position: relative;
	display: block;
	padding: 0 15px;
	height: 45px;
	line-height: 45px;
}

.top-bar .toggle-topbar.menu-icon {
	margin-top: 6px;
}

// #search-toggle {
// 	display: none;
// }
label small.error {
	display: none;
}





.global-search {
  left: 0;
  position: relative;
  width: auto;
  transition: left 300ms ease-out;
  display: none;
}

.global-search-toggle {
	display: block !important;
}

.global-search .postfix {
	margin-top: 20px;
}

.search .postfix {
	margin-top: 20px;
}

.hero {
	padding: 3em 0 5em;
}

@media only screen and (min-width: 40.063em) {
  .top-bar .toggle-topbar-2 {
    display: none;
  }
  .global-search {
    transition: none 0 0;
    left: 0 !important;
    display: block;
  }
  .no-search {
		display: none;
	}
	.no-nav {
		display: none;
	}
	.no-footer {
		display: none;
	}
	.hero {
		padding: 10em 0;
	}
}

.toggle-topbar-2.expanded {
	color: $topbar-menu-link-color-toggled;
}

.dropzone{
	border: 2px dashed #0087F7;
	border-radius: 5px;
	background: white;
}

.alert-box {
	margin-bottom: 0;
	padding: .5rem 0;
}

.top-bar .name h1 a {
	padding: 0;
}

.green {
	color: green;
}

.red {
	color: red;
}

.global-search, .search {
	background-color: $base;
}

// .green-back {
// 	background-color: green;
// }

// .red-back {
// 	background-color: red;
// }