.row, #bump, .row .row {
	margin-top: .5em;
}

#double-bump {
	margin-top: 1em;
}

nav .row {
	margin-top: 0;
}

nav {
	background-color: $topbar-bg-color;
}

footer {
	background-color: $smoke;
}

.global-search .row {
	margin-top: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}


.help-center {
	background-color: $white-smoke;
}

.top-bar
	.name, .toggle-topbar, .toggle-topbar-2{
		display: inline-block;
}

.top-bar .toggle-topbar {
	position: relative;
}

.top-bar .toggle-topbar-2 a, .top-bar .toggle-topbar a, .top-bar .toggle-topbar-3 a {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: normal;
	position: relative;
	display: block;
	padding: 0 15px;
	height: 45px;
	line-height: 45px;
}

.top-bar .toggle-topbar.menu-icon {
	margin-top: 6px;
}

// #search-toggle {
// 	display: none;
// }
label small.error {
	display: none;
}





.global-search {
  left: 0;
  position: relative;
  width: auto;
  transition: left 300ms ease-out;
  display: none;
}

.global-search-toggle {
	display: block !important;
}

.global-search .postfix {
	margin-top: 20px;
}

.search .postfix {
	margin-top: 20px;
}

.hero {
	padding: 3em 0 5em;
}

@media only screen and (min-width: 40.063em) {
  .top-bar .toggle-topbar-2 {
    display: none;
  }

  .f-dropdown {
		max-width: 250px;
	}

  .global-search {
    transition: none 0 0;
    left: 0 !important;
    display: block;
  }
  .no-search {
		display: none;
	}
	.no-nav {
		display: none;
	}
	.no-footer {
		display: none;
	}
	.hero {
		padding: 10em 0;
	}
	.recent li {
		display: inline-block;
	}
}

.toggle-topbar-2.expanded {
	color: $topbar-menu-link-color-toggled;
}

.dropzone{
	border: 2px dashed #0087F7;
	border-radius: 5px;
	background: white;
	display: table;
	width: 100%;
}

.alert-box {
	margin-bottom: 0;
	padding: .5rem 0;
}

.top-bar .name h1 a {
	padding: 0;
}

.green {
	color: green;
}

.red {
	color: red;
}

.global-search, .search {
	background-color: $base;
}

.debug {
	background-color: $black;
}

.debug.tab-bar a {
	color: $white;
	padding: 0 1em;
}

.debug.tab-bar a span {
	margin-left: 10px;
}

.inline-list > li {
	margin-left: 1rem;
}

.inline-list > li:first-of-type {
	margin-left: 0;
}

ul.tags {
	margin: 0;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

.resume.row {
	display: table;
}

.resume.row .column * {
	display: table-cell;
	vertical-align: middle;
}

.dz-preview {
	display: none !important;
}

.dropzone .dz-message {
	margin: 0;
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

.inline-list.lang {
	display: table;
	margin-bottom: 0;
}

.inline-list.lang > li {
	margin-left: 0rem;
	margin-right: 1.5rem;
	margin-bottom: 0;
}

.inline-list > li > .fa {
	display: inline-block;
}

.no-bottom-margin {
	margin-bottom: 0 !important;
}

.no-top-margin {
	margin-bottom: 0 !important;
}

.row.no-bottom-padding {
	padding-top: 0 !important;
}


.no-top-margin {
	margin-top: 0 !important;
}

.lang > li p {
	margin-bottom: 0;
}


.inline-list {
	margin-left: 0;
}

.lang-edit i {
	margin-top: .625rem;
}

.fa-stack-1-5x {
	font-size: 1.625em;
}

nav .fa-stack {
	width: 1.5em;
	line-height: 45px;
	height: 45px;

}

.toggle-topbar-3 .fa-stack {
	font-size: .8125em;
}

.notifications li {
	border-bottom: 1px solid #CCCCCC;
}

.notifications li:last-of-type {
	border-bottom: none;
}

.notifications li.new-notification {
	background-color: $info-color;
} 

[data-magellan-expedition], [data-magellan-expedition-clone] {
	padding: 0px;
}

[data-magellan-expedition] .sub-nav dd, [data-magellan-expedition-clone] .sub-nav dd {
	width: 100%;
	margin-left: 0;
}

[data-magellan-expedition] .sub-nav a.close, [data-magellan-expedition-clone] .sub-nav a.close {
	line-height: 0;
}

div[data-magellan-expedition="fixed"] .sub-nav {
	overflow: visible;
}

#resume_accordion_button {
	background-color: #008CBA;
	border-color: #007095;
	color: #FFFFFF;
}

input[type="radio"] {
	margin-left: 1px;
}

.inline-list > li > input {
	display: inline-block;
}
.accordion .accordion-navigation > .content.active {
	padding-bottom: 0;
}

.fullpage-home .section {
	padding: 5em 0;
}

.recent {
	display: inline-block;
}

// .recent li ul li {
// 	display: inline-block;
// }

// .recent li ul {
// 	display: inline-block;
// }

// .green-back {
// 	background-color: green;
// }

// .red-back {
// 	background-color: red;
// }



.flip {
    -webkit-perspective: 800;
    // width: 600px;
    // height: 100px;
    position: relative;
    // margin: 50px auto;
}
.flip .card.flipped {
    -webkit-transform: rotatex(-180deg);
}
.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.flip .card .face {
    width: 100%;
    height: 100%;
    // position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    text-align: left;
    padding:10px;
}
.flip .card .front {
    position: absolute;
    z-index: 1;
    background: #fff;
    color: black;
}
.flip .card .back {
    -webkit-transform: rotatex(-180deg);
    background: blue;
    background: white;
    color: black;
    font-size:50%;
}