.snapshot{
 border:1px solid #CCCCCC;
 background-color:#E6E6E6;
 border-right: 1px solid #CCCCCC;
}

.viewsnapshot{
    margin-top:15px;
}

.smallsnapshot{
    
}

.pref{
    
}

h5{
    text-size: 11px;
}

.findjobslist{
    list-style-type:none;
}

li .email-drawer {
    display:none;
}

.hidden{
    display:none;
}


#mobile-apply-fixed{
    position: fixed;
    left:10px;
    top:440px;
    width:300px;
}

#mobile-apply-clear{
    position: fixed;
    left:10px;
    top:505px;
    width:300px;
}

.mobile-filters-whitespace{
    background-color: #ffffff;
    width: 360px;
    height: 130px;
    position: fixed;
    top: 440px;
    left: 0px;
}

.snapshotlist{
    list-style-type:none;
    margin-left:15px;
    padding-top:20px;
    padding-bottom:20px;
}

#report-job-link{
    margin-left:20px;
    margin-bottom: 20px;
}

/*.mobile-title{
    background-color:#e7e7e7;
    height:45px;
}*/

.statelink{
    white-space: nowrap;
}

.unauthalertbtn{
    margin-top:22px;
}

.emailalerttext{
    margin-top:15px;
}

.alertinputwrap{
    margin-top:-20px;
    margin-left:-13px;
}

.inlinesuccess{
    color: rgb(67, 172, 106);
    font-weight: bold;
    margin: 30px;
}

.applied-tag{
color: rgb(67, 172, 106);
font-size: 12px;
line-height: 14px;
margin-left: 2px;
vertical-align: top;
}

.vertical-bump{
    margin-top:15px;
}
