.snapshot{
 border:1px solid #CCCCCC;
 background-color:#E6E6E6;
 border-right: 1px solid #CCCCCC;
}

.viewsnapshot{
    margin-top:15px;
}

.smallsnapshot{
    
}

.pref{
    
}

h5{
    text-size: 11px;
}