.snapshot{
 border:1px solid #CCCCCC;
 background-color:#E6E6E6;
 border-right: 1px solid #CCCCCC;
}

.viewsnapshot{
    margin-top:15px;
}

.smallsnapshot{
    
}

.pref{
    
}

h5{
    text-size: 11px;
}

.findjobslist{
    list-style-type:none;
}

li .email-drawer {
    display:none;
}

#mobile-filters-whitespace{
    background-color: #fff;
    width:100%;
    height:300px;
    position: fixed;
}


#mobile-apply-fixed{
    position: fixed;
    left:10px;
    top:480px;
    width:380px;
}

#mobile-apply-clear{
    position: fixed;
    left:10px;
    top:480px;
    width:380px;
}