.snapshot{
 border:1px solid #CCCCCC;
 background-color:#E6E6E6;
 border-right: 1px solid #CCCCCC;
}

.viewsnapshot{
    margin-top:15px;
}

.smallsnapshot{
    
}

.pref{
    
}

h5{
    text-size: 11px;
}

.findjobslist{
    list-style-type:none;
}

li .email-drawer {
    display:none;
}

#mobile-filters-fixed-apply{
    position:fixed;
    width:300px;
    top:445px;
    left:10px;
}

#mobile-filters-fixed-clear{
    position:fixed;
    width:300px;
    top:505px;
    left:10px;
}

#fixed-whitebg{
    background-color: #ffffff;
    width:100%;
    height:150px;
    position:fixed;
    top:440px;
    left:0px;
}