.snapshot{
 border:1px solid #CCCCCC;
 background-color:#E6E6E6;
 border-right: 1px solid #CCCCCC;
}

.viewsnapshot{
    margin-top:15px;
}

.smallsnapshot{
    
}

.pref{
    
}

h5{
    text-size: 11px;
}

.findjobslist{
    list-style-type:none;
}

li .email-drawer {
    display:none;
}



#mobile-apply-fixed{
    position: fixed;
    left:10px;
    top:440px;
    width:300px;
}

#mobile-apply-clear{
    position: fixed;
    left:10px;
    top:505px;
    width:300px;
}

.mobile-filters-whitespace{
    background-color: #ffffff;
    width: 360px;
    height: 130px;
    position: fixed;
    top: 440px;
    left: 0px;
}