#spinner{
	padding: 15% 48%;
	display: none;
	font-size: 40px;
}

#fluid{
	max-width: 100%;
}

#full-fluid{
  max-width: 100%;
.columns{
  padding: 0px;
  text-align: center;
}
  
}

  #scroll-spy-bar{
    //width: 100%;
   
    p{
	    margin-bottom: 8px;
	    line-height: 1;
    }
    .scrollspy-button-toggle{
    display: none;
    }
  }
 #scroll-spy-bar{
  &.fixed{
  background: #d4d4d4;
   margin : 0px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    opacity: .98;

    box-shadow: 0 4px 8px -6px #000;
    .scrollspy-premium-logo{
   		display: none !important;
    }
    .scrollspy-premium-container{
    width: 100%;
    max-width: 100%;
    }
     .scrollspy-noshow{
     display: none;
     }
     .scrollspy-button-toggle{
     display: block;
     	position: absolute;
     	top: 0px;
     	right: 15px;
    	text-align: right;
    	padding: 10px 0 0 0;
     }
  }
}

@media only screen and (max-width: 980px){
	
 #scroll-spy-bar{
  &.fixed{
   
     .scrollspy-button-toggle{
    		position: relative;
     	 
    	text-align: right;
    	padding: 10px 0 0 0;
    	right: 0px;

    	a{
    	width: 100%;


    	}
     }
  }
}

}

  #scroll-spy-bar.fixed + * {
    padding-top: 70px;
  }
.ui-autocomplete {
  background: #fefefe;
  border: solid 1px #eee;
}


.ui-autocomplete li{
    border-bottom: dotted 1px #eee;
    padding: 5px !important;
    color: #888;
}
.duplicate{
  background:red;
  color: white;
  margin: -20px 0 0 0;
  padding: 0 0 0 10px;
  line-height: 0px;
  height: 30px;
}
/*******************/
.widget{
  padding: 15px;
}
.module-container{
  .module-header{

  }
  .module-body{
    padding: 15px;

  }
  .module-footer{

  }
}
.border-box{
  border: solid 1px gray;
}
.resume-stats{
  list-style-type: none;
  margin-top: 0px !important; 
  border:solid 1px gray; 
  border-top:none;


  li{
    padding: 10px 5%;
    width: 50%;
    h2{
      span{
        float: left;
        &.stats-desc{
          font-size: 11px;
          margin: 0 0 0 10px;
          display: inline-block;
          color: #333;

        }
        &.fa{
          font-size: 30px;
          color: #333;

        }
      }
    }
    &:last-child{
    border-left: solid 1px gray;
    }
  }
}


/******JRP Filter pane styles*******/

.filter-pane{
 // background: red;
 h4{
   #reset-filter{
    float: right;
    cursor: pointer;
    color: #008CBA;
    display: none;
   }
 }
  fieldset {
    padding: 0px;
    border: none;
    legend{
      display: block;
      width: 100%;
      //background: #999;
      font: .9em/1.6em arial;
      span{
        float: right;
      }
    }
    .input-group{
      display: none;
      label{
        span{
          color:  #008CBA;
        }
      }
    }
    ul{
      margin: 0px;
      padding: 0px;
      list-style-type: none;

    }
  }
}

 .gs-panel{
    border: solid 1px #999;
    border-radius: 3px;
    margin: 0 0 15px 0;
    background: #fff;
    .gs-panel-header{
      background: #ccc;
      border-bottom: solid 4px #666; 
      padding: 10px;
      margin: 0 0 15px 0;
    }
  .gs-panel-body{
     padding: 15px;
  }
 }

 .sticky-pop-up{
   position: fixed;
   bottom: 10px;
   right: 10px;
   height: auto;
   width: 350px;
   padding: 15px;
   border: solid 1px #999;
   background: #eee;
   display: none;
   z-index: 1001;
 }

.gs-social-icons{
    text-align: center;
    .fa{
      font-size: 30px;
      margin: 0 10px;
      color: #999;
    }
 }

 .snapshot-splash{
 .columns{
 .columns{
  border-right: solid 1px #999;
  }
 }
 h3{
    display: inline-block;
    font-size: 34px;
    line-height: 40px;
    float: left;
    margin-right: 15px;
 }
 span{
  font-size: 16px;
 }
 }


 /*---------*/



  .btn {
    -moz-user-select: none;
    background: #ccc;
    border: 1px solid #999;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: #fff;
  }  
  .btn-default{
 
  }


.btn-group{
 

  .btn {
    -moz-user-select: none;
    background: #ccc;
    border: 1px solid #999;
    border-left: none;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin: 0px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: #fff;
   
    &:first-child{
      border-radius: 4px 0 0 4px;
      border-left: 1px solid #999;
     

    }   
     &:last-child{
      border-radius: 0 4px 4px 0;
    }

  }

}

.jdp-detials span{
  font-size: 10px;
  line-height: 14px;
  color: #888;
}


.email-container{
  position: relative;
  .email-drawer-jdp{
    display: none;
    position: absolute;
    border: solid 1px #888;
    width: 600px;
    z-index: 1000;
    padding: 20px;
    background: #fff;
    top: 150px;
    left: 14px;
    &:before{
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #888;
      display: table-cell;
      content : '';
      top: -10px;
      left: 125px;
      position: absolute;
    }
  }

}


.snapshot-list{ 
  dt{
    display: inline-block;
    width: 30%;
  }
  dd{
    display: inline-block;
    width: 60%;
  }
}
.snapshot-list-thin{ 
  dt{
    display: inline-block;
    width: 50%;
  }
  dd{
    display: inline-block;
    width: 48%;
  }
}


.brand-specific{
  display: none;
}
.show-me{
  display: block;
}


.more_jdp{
  a{
  display: block;
  }
}

