#spinner{
	padding: 15% 48%;
	display: none;
	font-size: 40px;
}

#fluid{
	max-width: 100%;
}


  #scroll-spy-bar{
    //width: 100%;
   
    p{
	    margin-bottom: 8px;
	    line-height: 1;
    }
    .scrollspy-button-toggle{
    display: none;
    }
  }
 #scroll-spy-bar{
  &.fixed{
  background: #d4d4d4;
   margin : 0px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    opacity: .98;

    box-shadow: 0 4px 8px -6px #000;
    .scrollspy-premium-logo{
   		display: none !important;
    }
    .scrollspy-premium-container{
    width: 100%;
    max-width: 100%;
    }
     .scrollspy-noshow{
     display: none;
     }
     .scrollspy-button-toggle{
     display: block;
     	position: absolute;
     	top: 0px;
     	right: 15px;
    	text-align: right;
    	padding: 10px 0 0 0;
     }
  }
}

@media only screen and (max-width: 980px){
	
 #scroll-spy-bar{
  &.fixed{
   
     .scrollspy-button-toggle{
    		position: relative;
     	 
    	text-align: right;
    	padding: 10px 0 0 0;
    	right: 0px;

    	a{
    	width: 100%;


    	}
     }
  }
}

}

  #scroll-spy-bar.fixed + * {
    padding-top: 70px;
  }
.ui-autocomplete {
  background: #fefefe;
  border: solid 1px #eee;
}


.ui-autocomplete li{
    border-bottom: dotted 1px #eee;
    padding: 5px !important;
    color: #888;
}
.duplicate{
  background:red;
  color: white;
  margin: -20px 0 0 0;
  padding: 0 0 0 10px;
  line-height: 0px;
  height: 30px;
}
