   <footer class="gs-footer-content">

      <div class="gs-footer">
        <div class="gs-footer-helpbar">
          Need Help? <a href="#">help center</a>
        </div>
        <div class="gs-footer-links">
          <div class="gs-footer-center gs-footer-langage-picker-enable">
            <div class="gs-footer-links-bloc">
              <ul>
                <li>job seekers</li>
                <li><a href="#">Find Jobs</a></li>
                <li><a href="#">Top Categories</a></li>
                <li><a href="#">Top Locations</a></li>
                <li><a href="#">Top Keywords</a></li>
                <li><a href="#">Partner Job Boards</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Sitemap</a></li>
              </ul>
            </div>
            <div class="gs-footer-links-bloc">
              <ul>
                <li>employers</li>
                <li><a href="#">Search Resumes</a></li>
                <li><a href="#">Post Jobs</a></li>
                <li><a href="#">Talent Networks</a></li>
                <li><a href="#">Advertising</a></li>
                <li><a href="#">Our Partners</a></li>
              </ul>
            </div>
            <div class="gs-footer-links-bloc">
              <ul class="gs-footer-links-ul-align">
                <li>social</li>
                <li><a href="#"><span class="fa fa-twitter-square"></span></a></li>
                <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                <li><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
              </ul>
              <ul>
                <li>legal</li>
                <li><a href="#">Security &amp; Fraud</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms</a></li>
                <li class="gs-footer-partner"><a class="logo-ad-choices" href="#" >Ad Choices</a></li>
              </ul>
            </div>
            <div class="gs-footer-links-bloc">
              <ul>
                <li>careerbuilder</li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Work at CareerBuilder</a></li>
              </ul>
              <ul class="gs-footer-links-ul-nolink">
                <li>200 N. LaSalle St.</li>
                <li>Suite 1100</li>
                <li>Chicago, IL 60601</li>
              </ul>
            </div>
            <div class="gs-footer-mobile-menu-user">
              <a href="#">Sign In</a>
      <!--          <a href="#">FirstName</a><a href="#">Sign Out</a>-->
            </div>
            <div class="gs-footer-links-bloc gs-footer-langage-picker">
              <ul>
                <li>language</li>
                <li>

                  <a id="gs-language-picker" href="www.google.com">English <span class="fa fa-angle-down"></span></a>
                  <ul id="gs-language-picker-submenu">
                    <li><a href="">French</a></li>
                    <li><a href="">Spanish</a></li>
                    <li><a href="">Portugese</a></li>
                  </ul>

                </li>
              </ul>
            </div>
            <div class="gs-footer-mobile-apps">
              <a href="#"><img src="http://img.icbdr.com/images/headerfooter/logo-app_store.png" width="100"></a><a href="#"><img src="http://img.icbdr.com/images/headerfooter/logo-google_play.png" width="100"></a>
            </div>
            <div class="gs-footer-mobile-links">
              <a href="#">Terms</a><a href="#">Privacy</a><a href="#">Full Site</a>
            </div>
        </div>
      </div>
      <div class="gs-footer-legal">
        &#169; CareerBuilder LLC, ALL right reserved
      </div>
    </footer>