<div class="row">
	<div class="column small-12">
		<label>Salary</label>
		<div class="row">
			<div class="column small-5 medium-5">
				<input type="text" placeholder="" />
			</div>
			<div class="column small-2 medium-2 text-center">
				PER
			</div>
			<div class="column small-5 medium-5">
				<div class="row">
					<div class="column small-12">
						<select>
							<option value="husker">Hour</option>
							<option value="starbuck">Year</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
