<% @search_bar = "no-search" %>
<div class="row">
	<div class="column medium-3">
		<div class="row panel">
			<div class="column small-12 text-center">
				<span class="fa-stack fa-2x">
					<i class="fa fa-circle fa-stack-2x "></i>
					<i class="fa fa-user fa-stack-1x fa-inverse"></i>
				</span>
			</div>
			<div class="column small-12 text-center">
				<h2>Hi, Paul Person</h2>
			</div>
		</div>
		<div class="row">
			<%= render 'home/molecules/resume_module' %>
		</div>
		<div class="row">
			<%= render 'home/molecules/coverletter_module' %>
		</div>
	</div>
	<div class="column medium-9">
		<div class="row">
			<div class="column medium-4">
				<div class="panel" style="padding: auto 0">
					<div class="row resume">
						<div class="column small-3">
							<i style="font-size: 3rem;"class="fa fa-eye fa-2x"></i>
						</div>
						<div class="column small-3">
							<h1 style="font-size: 3rem;">16</h1>
						</div>
						<div class="column small-6 end">
							resume<br>views
						</div>
					</div>
				</div>
			</div>
			<div class="column medium-4">
				<div class="panel" style="padding: auto 0">
					<div class="row resume">
						<div class="column small-3">
							<i style="font-size: 3rem;"class="fa fa-group fa-2x"></i>
						</div>
						<div class="column small-3">
							<h1 style="font-size: 3rem;">10</h1>
						</div>
						<div class="column small-6 end">
							available<br>
							job reports
						</div>
					</div>
				</div>
			</div>
			<div class="column medium-4">
				<div class="panel" style="padding: auto 0">
					<div class="row resume">
						<div class="column small-3">
							<i style="font-size: 3rem;"class="fa fa-clock-o fa-2x"></i>
						</div>
						<div class="column small-3">
							<h1 style="font-size: 3rem;">&nbsp;4</h1>
						</div>
						<div class="column small-6 end">
							expiring<br>
							saved jobs
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>