<% @search_bar = "no-search" %>
<div class="row">
	<div class="column small-12 large-3">
		<div class="row panel">
			<div class="column small-12 text-center">
				<span class="fa-stack fa-2x">
					<i class="fa fa-circle fa-stack-2x "></i>
					<i class="fa fa-user fa-stack-1x fa-inverse"></i>
				</span>
			</div>
			<div class="column small-12 text-center">
				<h2>Hi, Paul Person</h2>
			</div>
		</div>
		<div class="row">
			<%= render 'home/molecules/resume_module' %>
		</div>
		<div class="row">
			<%= render 'home/molecules/coverletter_module' %>
		</div>
	</div>
	<div class="column small-12 large-9">
		<div class="row">
			<div class="column small-12">
				<ul class="inline-list dashboard">
					<li>
						<div class="panel" style="padding: .875em 2em .5em">
							<ul class="inline-list" style="display:inline-block; text-align:left;">
								<li>
									<a><i style="line-height: 1.6125em; margin-left: auto; margin-right: auto;" class="fa fa-thumbs-o-up fa-lg"></i></a>
								</li>
								<li>
									<h1 style="line-height: .875em; margin-bottom: 0"><a>50</a></h1>
								</li>
								<li>
									<label style="line-height:2.25em"><a>job recommendations</a></label>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="panel" style="padding: .875em 2em .5em">
							<ul class="inline-list" style="display:inline-block; text-align:left;">
								<li>
									<a><i style="line-height: 1.6125em; margin-left: auto; margin-right: auto;" class="fa fa-eye fa-lg"></i></a>
								</li>
								<li>
									<h1 style="line-height: .875em; margin-bottom: 0"><a>37</a></h1>
								</li>
								<li>
									<label style="line-height:2.25em"><a>resume views</a></label>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="panel" style="padding: .875em 2em .5em">
							<ul class="inline-list" style="display:inline-block; text-align:left;">
								<li>
									<a><i style="line-height: 1.6125em; margin-left: auto; margin-right: auto;" class="fa fa-group fa-lg"></i></a>
								</li>
								<li>
									<h1 style="line-height: .875em; margin-bottom: 0"><a>&nbsp;4</a></h1>
								</li>
								<li>
									<label style="line-height:2.25em"><a>competition reports</a></label>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="panel" style="padding: .875em 2em .5em">
							<ul class="inline-list" style="display:inline-block; text-align:left;">
								<li>
									<a><i style="line-height: 1.6125em; margin-left: auto; margin-right: auto;" class="fa fa-bell fa-lg"></i></a>
								</li>
								<li>
									<h1 style="line-height: .875em; margin-bottom: 0"><a>&nbsp;2</a></h1>
								</li>
								<li>
									<label style="line-height:2.25em"><a>search alerts</a></label>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="panel" style="padding: .875em 2em .5em">
							<ul class="inline-list" style="display:inline-block; text-align:left;">
								<li>
									<a><i style="line-height: 1.6125em; margin-left: auto; margin-right: auto;" class="fa fa-group fa-lg"></i></a>
								</li>
								<li>
									<h1 style="line-height: .875em; margin-bottom: 0"><a>18</a></h1>
								</li>
								<li>
									<label style="line-height:2.25em"><a>industry articles</a></label>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>