<!-- TODO
	* Recent Searches
-->


<div class="row">
	<div class="column small-12">
		
	</div>
	<div class="column small-12 large-2">
		<h1>My Career</h1>
		<ul class="side-nav">
		  <li><a href="#recommendations">Recommendations</a></li>
		  <li><a href="#saved-jobs-apps">Saved Jobs</a></li>
		  <li><a href="#job-alerts">Job Alerts</a></li>
		  <li><a href="#resumes" class="hide-for-large--only">Resumes</a></li>
		  <li><a href="#cover-letters" class="hide-for-large--only">Cover Letters</a></li>
		  <!-- <li><%= link_to "Account Settings", account_path %></li> -->
		</ul>
	</div>

	<div class="column small-12 large-7">
		<!-- RECCOMMENDATIONS -->
		<h2 id="recommendations">50 Recommendations</h2>
		<% 10.times do |i| %>
			<%= render 'jobs/results/result_nosnapshot_noactions_nocollapse', count: i %>
		<% end %>
		<a class="button secondary expand">See All Recommendations</a>
		<!-- END RECCOMMENDATIONS -->
		
		<!-- SAVED JOBS -->
		<h2 id="saved-jobs-apps">30 Saved Jobs & Applications</h2>
		<div class="row">
			<% 5.times do %>
				<div class="column small-12">
					<h5>Interaction Designer</h5>
					<p>ABC Consulting Group | Atlanta, GA</p>
					<p><b>Expires 7/1/15</b></p>
					<hr />
	        <!--TODO add progress bar-->
	        <p>Progress Bar Placeholder</p>
	        <a href="#" class="button">Next Step: Apply</a>
	        <p>Add Notes</p>
	        <a href="../recommendations/similarrecs">See Similar Jobs</a>
	        <hr />
	    	</div>
			<% end %>
		</div>
		<a class="button secondary expand">See All Saved Jobs & Applications</a>
		<!-- END SAVED JOBS -->

		<!-- JOB ALERTS -->
		<h2 id="job-alerts">5 Job Alerts</h2>
		<div class="row">
			<% 5.times do %>
				<div class="small-12 columns">
					<h5>Interaction Designer Jobs in Atlanta, GA</h5>
					<p>Alert Frequency</p>
					<label for="dailyfrequency">
						<input type="radio" id="dailyfrequency">
						Daily
					</label>
					<label for="weeklyfrequency">
						<input type="radio" id="weeklyfrequency">
						Weekly
					</label>
	    	</div>
			<% end %>
		</div>
		<a class="button secondary expand">See All Job Alerts</a>
		<!-- END JOB ALERTS -->
	</div>

	<div class="column small-12 large-3">
		<!-- RESUMES -->
		<%= render 'home/molecules/resume_module' %>
		<!-- END RESUMES -->
		
		<!-- COVER LETTERS -->
		<%= render 'home/molecules/coverletter_module' %>
		<!-- END COVER LETTERS -->
	</div>
</div>