<% @nav_bar = "no-nav" %>
<div class="home-exp-2">
	<div class="banner">
		<video autoplay loop poster="polina.jpg" id="bgvid">
			<source src="<%= video_url('experiment/stock-video.mp4')%>" type="video/mp4">
		</video>
		<div class="row logo">
			<div class="column small-12">
				<h2 class="subheader left">careerbuilder</h2>
				<a class="right" href="">Sign In</a>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-8 medium-push-2 columns searchBox">
				<div class="row">
					<div class="small-12 columns">
						<h1 class="text-center">
						Find the right job. Right now.
						</h1>
						<div class="row collapse">
							<div class="small-5 columns">
								<label>Keyword
									<input type="text">
								</label>
							</div>
							<div class="small-5 columns">
								<label>Location
									<input type="text">
								</label>
							</div>
							<div class="small-2 columns">
								<a class="button expand">Search</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row major-bump">
		<div class="small-12 columns">
			<h2 class="text-center">
			Get started with an account.
			</h2>
			<div class="small-10 small-centered medium-8 medium-push-2">
				<ul class="large-block-grid-3 medium-block-grid-3">
					<li class="columns no-padding">
						<div class="small-12">
							<a class="button secondary expand" href='http://www.careerbuilder.com/jobseeker/postnewresume.aspx'>
								Upload a Resume
							</a>
						</div>
					</li>
					<li class="columns no-padding">
						<div class="small-12">
							<a class="button secondary expand" href='http://www.careerbuilder.com/jobseeker/postnewresume.aspx'>
								Build a Resume
							</a>
						</div>
					</li>
					<li class="columns no-padding">
						<div class="small-12">
							<a class="button secondary expand" href='https://www.careerbuilder.com/share/register.aspx'>
								Register without
							</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="small-12 columns">
				<h3 class="text-center">
				Why create an account?
				</h3>
				<div class="small-12 medium-10 medium-push-1 columns double-bump">
					<ul class="large-block-grid-4 medium-block-grid-4">
						<li>
							<div class="small-12">
								<i class="fa fa-search fa-3x"></i>
								<br>
							</div>
							<div class="small-12 text-center bump">
								Know when a company <br/>finds your resume.
							</div>
						</li>
						<li>
							<div class="small-12">
								<i class="fa fa-file-text fa-3x"></i>
								<br>
							</div>
							<div class="small-12 text-center bump">
								Save up to 5 resumes to <br/>quickly apply to jobs.
							</div>
						</li>
						<li>
							<div class="small-12">
								<i class="fa fa-bell fa-3x"></i>
								<br>
							</div>
							<div class="small-12 text-center bump">
								Be notified when your <br/>application is viewed.
							</div>
						</li>
						<li>
							<div class="small-12">
								<i class="fa fa-group fa-3x"></i>
								<br>
							</div>
							<div class="small-12 text-center bump">
								View the competition <br/>when applying to jobs.
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="band major-bump popular-search">
		<div class="row">
			<div class="small-12 columns">
				<h2 class="text-center">
				Popular job searches.
				</h2>
				<div class="small-12 columns">
					<div class="small-12 columns bump">
						<h3 class="text-center">
						By Catagory
						</h3>
						<div class="small-12 columns text-center">
							<a href='http://www.careerbuilder.com/browse/category/sales'> Sales</a>
							|
							<a href='http://www.careerbuilder.com/browse/category/customer-service'> Costumer Service</a>
							|
							<a href='http://www.careerbuilder.com/browse/category/accounting'> Accounting</a>
							|
							<a href='http://www.careerbuilder.com/browse/category/entry-level'> Entry Level</a>
							|
							<a href='http://www.careerbuilder.com/browse/category/administrative-assistant'> Administrative Assistant</a>
							|
							<a href='http://www.careerbuilder.com/browse/category/retail'> Retail</a>
							|
							<a href='http://www.careerbuilder.com/browse/category/registered-nurse'> Registered Nurse</a>
							|
							<a href='http://www.careerbuilder.com/browse/categorytoppage'> Browse All Catagories</a>
							<div class="small-12 columns">
								<div class="small-12 columns bump">
									<h3 class="text-center">
									By City
									</h3>
									<div class="small-12 columns text-center">
										<a href='http://www.careerbuilder.com/jobs/chicago,il'> Chicago</a>
										|
										<a href='http://www.careerbuilder.com/jobs/atlanta,ga'> Atlanta</a>
										|
										<a href='http://www.careerbuilder.com/jobs/houston,tx'> Houston</a>
										|
										<a href='http://www.careerbuilder.com/jobs/dallas,tx'> Dallas</a>
										|
										<a href='http://www.careerbuilder.com/jobs/boston,ma'> Boston</a>
										|
										<a href='http://www.careerbuilder.com/jobs/new-york,ny'> New York</a>
										|
										<a href='http://www.careerbuilder.com/jobs/san-francisco,ca'> San Francisco</a>
										|
										<a href='http://www.careerbuilder.com/jobs/miami,fl'> Miami</a>
										|
										<a href='http://www.careerbuilder.com/jobs/denver,co'> Denver</a>
										|
										<a href='http://jobs.careerbuilder.com/'> Browse All Cities</a>
										<div class="small-12 columns">
											<div class="small-12 columns bump">
												<h3 class="text-center">
												By Company
												</h3>
												<div class="small-12 columns text-center">
													<a href='http://www.careerbuilder.com/jobs/company/c8g2lx73zztvzmjtth9/macys'> Macy's</a>
													|
													<a href='http://www.careerbuilder.com/jobs/company/cht3vg6lk6nkvvrxlrm/robert-half-technology'> Robert Half</a>
													|
													<a href='http://www.careerbuilder.com/jobs/company/c8e0dm6474fmvsymxkb/ups/'> UPS</a>
													|
													<a href='http://www.careerbuilder.com/jobs/company/c7h8dq6z0khhhp0r05n/aerotek'> Aerotek</a>
													|
													<a href='http://www.careerbuilder.com/jobs/company/chp5706wqc457p38bqx/army-national-guard'> Army National Guard</a>
													|
													<a href='http://www.careerbuilder.com/jobs/company/c8e59j6zm4tr74gzk7l/unitedhealth-group'> UnitedHealth Group</a>
													|
													<a href='http://www.careerbuilder.com/jobs/company/chs09v66t38bqt3q0jj/kelly-services'> Kelly Service</a>
													|
													<a href='http://www.careerbuilder.com/employerprofile/companysearch.aspx'> Browse All Companies</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>