<script>
$(document).ready(function() {

	$('#fullpage').fullpage({
	});
</script>

<% @nav_bar = "no-nav" %>
<% @footer_bar = "no-footer" %>
<div class="home-exp-4">
	<div id="fullpage">
		<div class="section" style="background-color: #3498DB">
			<h1>SEARCH AND REGISTRATION HERE</h1>
		</div>
		<div class="section">
			<div id="scroll">
				<div class="registration">
					<div class="row">
						<div class="column small-12">
							<h2 class="text-center subheader">
								Job searching is hard.<br>Let us make it <strong>easier</strong> for you.
							</h2>
						</div>
					</div>
					<div class="row">
						<div class="column small-12 medium-10 medium-centered">
							<div class="row">
								<div class="column small-12 medium-6 large-6">
									<div class="row">
										<div class="column small-3">
											<i class="fa fa-bolt fa-4x" style="text-align:center; display:block; color: #6f6f6f"></i>
										</div>
										<div class="column small-8 end">
											<h3>
												Apply Quickly
												<br>
												<small class="clearfix">
													With your own account you’ll be able to save your resume and apply to jobs with single click.<br> <br>
												</small>
											</h3>
										</div>
									</div>
									<div class="row">
										<div class="column small-3">
											<i class="fa fa-pie-chart fa-4x" style="text-align:center; display:block; color: #6f6f6f"></i>
										</div>
										<div class="column small-8 end">
											<h3>
												Gain Insights
												<br>
												<small class="clearfix">
													See who you’re competing with for each job. Improve your chances of being discovered by applying to jobs you’re a good fit for.
												</small>
											</h3>
										</div>
									</div>
									<div class="row">
										<div class="column small-3">
											<i class="fa fa-search fa-4x" style="text-align:center; display:block; color: #6f6f6f"></i>
										</div>
										<div class="column small-8 end">
											<h3>
												Be Discovered
												<br>
												<small class="clearfix">
													Make your resume available to empoyers when the time is right and let them reach out to you with opportunities.
												</small>
											</h3>
										</div>
									</div>
								</div>
								<div class="column small-12 medium-6 large-6">
									<label>First Name
										<input type="text">
									</label>
									<label>Last Name
										<input type="text">
									</label>
									<label>Email Name
										<input type="email">
									</label>
									<label>Zip
										<input type="number">
									</label>
									<label>Password
										<input type="password">
									</label>
									<a class="button expand" style="background-color: #1B7CB2;" href="">Sign Up</a>
								</div>
							</div>
						</div>
						<!-- REGISTRATION TO GO HERE -->
					</div>
				</div>
				<div class="sob-story" style="background-color: #f5f5f5; padding: 1em 0 0;">
					<div class="row">
						<div class="column small-12 medium-5 medium-offset-2" style="padding-top: 1.75em;">
							<h2 class="subheader">Stay <strong>Connected</strong></h2>
							<p class="subheader">Quickly find job opportunities wherever you want with location-based search. Get automatic recommendations and notifications based on your job searches. Apply to jobs with your Careerbuilder resumes with just a couple taps.</p>
							<a class="button" style="background-color:#000; padding: .3125em 1.5em 0em; border-radius: 8px; height: inherit;">
								<ul class="inline-list">
									<li>
										<i class="fa fa-mobile-phone fa-3x" style="margin-top: -0px; margin-bottom: -2px;"></i>
									</li>
									<li style="padding-top: .6875em;">
										<small style="line-height: .75;">Available on the<br></small>App Store
									</li>
								</ul>
							</a>

							<a class="button" style="background-color:#000; padding: .6125em 1.5em 0em; border-radius: 8px; height: inherit;">
								<ul class="inline-list" style="margin-top:2px; padding-bottom: 1px;">
									<li>
										<i class="fa fa-google fa-3x" style="padding-top: 6px; font-size: 32px;"></i>
									</li>
									<li class="text-left" style="padding-top: .5em;">
										<small style="line-height: .75;">GET IT ON<br></small>Google Play
									</li>
								</ul>
							</a>
						</div>
						<div class="column small-12 medium-3 end">
							<%= image_tag "experiment/app.png" %>
						</div>
					</div>
				</div>
				<div class="pop-searches" style="background-color: #fff; padding: 1em 0">
					<div class="row">
						<div class="column small-12 text-center">
							<h2 class="subheader" style="margin-bottom: 36px;">
								Don't know where to start? <strong>Check out Popular Searches.</strong>
							</h2>
						</div>
						<div class="column small-12 medium-8 medium-centered">
							<ul class="medium-block-grid-3">
								<li>
									<select>
										<option>Top Job Categories</option>
										<option>Sales</option>
										<option>Costumer Service</option>
										<option>Accounting</option>
										<option>Entry Level</option>
										<option>Administrative Assistant</option>
										<option>Retail</option>
										<option>Registered Nurse</option>
										<option>Browse All Categories</option>
									</select>
								</li>
								<li>
									<select>
										<option>Top Cities</option>
										<option>Chicago</option>
										<option>Atlanta</option>
										<option>Houston</option>
										<option>Dallas</option>
										<option>Boston</option>
										<option>New York</option>
										<option>San Francisco</option>
										<option>Miami</option>
										<option>Denver</option>
										<option>Browse All Cities</option>
									</select>
								</li>
								<li>
									<select>
										<option>Top Companies</option>
										<option>Macy's</option>
										<option>Robert Half</option>
										<option>UPS</option>
										<option>Aerotek</option>
										<option>Army National Guard</option>
										<option>UnitedHealth Group</option>
										<option>Kelly Services</option>
										<option>Browse All Companies</option>
									</select>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
