<% @nav_bar = "no-nav" %>
<% @footer_help = "no_help" %>
<div class="home-exp-3">
	<div id="stick_1">
		<div id="stick_1_content">
			<div class="hero" style="">
				<nav>
					<div class="row">
						<div class="column small-12 xl-12">
							<div class="left">
								<h2><a style="margin-top: 0; line-height:inherit;" href="../home-three">careerbuilder</a></h2>
							</div>
							<div class="right">
								<ul class="inline-list">
								<a style="line-height:3em;" href="https://www.careerbuilder.com/share/login.aspx">
									Sign In
								</a>
							</div>
						</div>
					</div>
				</nav>
				<div class="search">
					<div class="row">
						<div class="column small-12 medium-10 medium-centered">
							<h1 style="line-height: 1.125; margin-left: 2.45em; margin-bottom: .75em; color: #fff" class="subheader">
							Find the Right Job.<strong> Right Now.</strong>
							</h1>
							<div class="row collapse">
								<div class="column small-4 small-push-1">
									<label>keyword
										<input type="text" id="search-key">
									</label>
								</div>
								<div class="column small-4 small-push-1">
									<label>location
										<input type="text" id="search-loc">
									</label>
								</div>
								<div class="column small-2 small-push-1 end">
									<a class="button expand postfix" id="search-btn">Search</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="stick_1_message" style="display:none; margin-top:-75px !important; z-index:99999">
			<nav style="background-color:#274E6A; height:75px;">
				<div class="row">
					<div class="column small-2 xl-12">
						<h2 style="font-size: 21px; line-height:1.75em;">careerbuilder</h2>
					</div>
					<div class="column small-9 medium-8">
						<div class="row collapse">
							<div class="column small-4 small-push-1">
								<input type="text" placeholder="keyword" id="search-key">
							</div>
							<div class="column small-4 small-push-1">
								<input type="text" placeholder="location" id="search-loc">
							</div>
							<div class="column small-2 small-push-1 end">
								<a class="button expand postfix" style="height:37px;" id="search-btn">Search</a>
							</div>
						</div>
					</div>
					<div class="column small-2 xl-12 text-right">
						<a style="line-height:2.5em;">
							Sign In
						</a>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<div id="stick_2">
		<div id="stick_2_content" style="padding-top:36px;">
			<div class="row">
				<div class="column small-12 text-center">
					<h1 class="subheader" style="margin-bottom: 36px;">
					Create an account.<strong>Unlock new features</strong>
					</h1>
				</div>
			</div>

			<div class="banner-area" style="height:105px !important; overflow:hidden;">
				<div id="apply-banner" style="margin-bottom:.5em; display:none;">
					<div class="banner" style="background-color:#3498DB; padding: .5em 0 1em; color:#fff;">
						<div class="row no-bottom-margin">
							<div class="column small-12 text-center">
								With your own account you’ll be able to save your resume and apply to jobs with single click.
							</div>
						</div>
					</div>
					<div class="row no-top-margin">
						<div class="column small-2 small-offset-2 end text-center">
							<i class="fa fa-caret-down fa-5x" style="line-height:12px; color:#3498DB;"></i>
						</div>
					</div>
				</div>

				<div id="insights-banner" style="margin-bottom:.5em; display:none;">
					<div class="banner" style="background-color:#2ECC71; padding: .5em 0 1em; color:#fff;">
						<div class="row no-bottom-margin">
							<div class="column small-12 text-center">
								See who you’re competing with for each job. Improve your chances of being discovered by applying to jobs you’re a good fit for.
							</div>
						</div>
					</div>
					<div class="row no-top-margin">
						<div class="column small-2 small-offset-5 end text-center">
							<i class="fa fa-caret-down fa-5x" style="line-height:12px; color:#2ECC71;"></i>
						</div>
					</div>
				</div>

				<div id="discovered-banner" style="margin-bottom:.5em;">
					<div class="banner" style="background-color:#F1C40F; padding: .5em 0 1em; color:#fff;">
						<div class="row no-bottom-margin">
							<div class="column small-12 text-center">
								Make your resume available to empoyers when the time is right and let them reach out to you with opportunities.
							</div>
						</div>
					</div>
					<div class="row no-top-margin">
						<div class="column small-2 small-offset-8 end text-center">
							<i class="fa fa-caret-down fa-5x" style="line-height:12px; color:#F1C40F;"></i>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="column small-12 medium-2 medium-offset-2 text-center">
					<a id="apply_icon">
						<i class="fa fa-file-text fa-5x" style="font-size: 96px; color: #fff; -webkit-text-stroke: 2px #3498DB;"></i>
						<p style="font-size: 24px; color: #3498DB; font-weight: 300; margin-top:8px;">Apply Quickly</p>
					</a>
				</div>
				<div class="column small-12 medium-2 medium-offset-1 text-center">
					<a id="insights_icon">
						<i class="fa fa-pie-chart fa-4x" style="font-size: 96px; color: #fff; -webkit-text-stroke: 2px #2ECC71;"></i>
						<p style="font-size: 24px; color: #2ECC71; font-weight: 300; margin-top:8px;">Gain Insights</p>
					</a>
				</div>
				<div class="column small-12 medium-2 medium-offset-1 end text-center">
					<a id="discovered_icon">
						<i class="fa fa-search fa-4x" style="font-size: 96px; color: #fff; -moz-color:#F1C40F; -webkit-text-stroke: 2px #F1C40F;"></i>
						<p style="font-size: 24px; color: #F1C40F; font-weight: 300; margin-top:8px;">Be Discovered</p>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="column small-12 medium-8 medium-centered">
					<label>First Name
						<input type="text">
					</label>
					<label>Last Name
						<input type="text">
					</label>
					<label>Email Name
						<input type="email">
					</label>
					<label>Zip Name
						<input type="number">
					</label>
					<label>Password
						<input type="password">
					</label>
					<a class="button expand" href="">Sign Up</a>
				</div>
			</div>
		</div>
		<div id="stick_2_message" style="display:none; z-index:99999">
			<div class="register_banner text-center">
				<h3 class="subheader">
					Apply Quickly, Gain Insights, and Be Discovered. <a><strong>Create an account.</strong></a>
				</h3>
			</div>
		</div>
	</div>
	<div id="stick_3">
		<div class="sob-story" style="background-color: #f5f5f5; padding: 1em 0 0;">
			<div class="row">
				<div class="column small-12 medium-5 medium-offset-2" style="padding-top: 1.75em;">
					<h2 class="subheader">Stay <strong>Connected</strong></h2>
					<p class="subheader">Quickly find job opportunities wherever you want with location-based search. Get automatic recommendations and notifications based on your job searches. Apply to jobs with your Careerbuilder resumes with just a couple taps.</p>
					<a class="button" style="background-color:#000; padding: .3125em 1.5em 0em; border-radius: 8px; height: inherit;">
						<ul class="inline-list">
							<li>
								<i class="fa fa-mobile-phone fa-3x" style="margin-top: -0px; margin-bottom: -2px;"></i>
							</li>
							<li style="padding-top: .6875em;">
								<small style="line-height: .75;">Available on the<br></small>App Store
							</li>
						</ul>
					</a>

					<a class="button" style="background-color:#000; padding: .6125em 1.5em 0em; border-radius: 8px; height: inherit;">
						<ul class="inline-list" style="margin-top:2px; padding-bottom: 1px;">
							<li>
								<i class="fa fa-google fa-3x" style="padding-top: 6px; font-size: 32px;"></i>
							</li>
							<li class="text-left" style="padding-top: .5em;">
								<small style="line-height: .75;">GET IT ON<br></small>Google Play
							</li>
						</ul>
					</a>
				</div>
				<div class="column small-12 medium-3 end">
					<%= image_tag "experiment/app.png" %>
				</div>
			</div>
		</div>
	</div>
	<div id="stick_4">
		<div class="pop-searches" style="background-color: #fff; padding: 1em 0">
			<div class="row">
				<div class="column small-12 text-center">
					<h2 class="subheader" style="margin-bottom: 36px;">
						Don't know where to start? <strong>Check out Popular Searches.</strong>
					</h2>
				</div>
				<div class="column small-12 medium-8 medium-centered">
					<ul class="medium-block-grid-3">
						<li>
							<select>
								<option>Top Job Categories</option>
								<option>Sales</option>
								<option>Costumer Service</option>
								<option>Accounting</option>
								<option>Entry Level</option>
								<option>Administrative Assistant</option>
								<option>Retail</option>
								<option>Registered Nurse</option>
								<option>Browse All Categories</option>
							</select>
						</li>
						<li>
							<select>
								<option>Top Cities</option>
								<option>Chicago</option>
								<option>Atlanta</option>
								<option>Houston</option>
								<option>Dallas</option>
								<option>Boston</option>
								<option>New York</option>
								<option>San Francisco</option>
								<option>Miami</option>
								<option>Denver</option>
								<option>Browse All Cities</option>
							</select>
						</li>
						<li>
							<select>
								<option>Top Companies</option>
								<option>Macy's</option>
								<option>Robert Half</option>
								<option>UPS</option>
								<option>Aerotek</option>
								<option>Army National Guard</option>
								<option>UnitedHealth Group</option>
								<option>Kelly Services</option>
								<option>Browse All Companies</option>
							</select>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>