<% @search_bar = "no-search" %>
<div class="fullpage-home">
	<div class="section">
		<div class="search">
			<div class="row">
				<div class="column small-12">
					<h1>
						Find the right job. Right now.
					</h1>
				</div>
			</div>
			<div class="row">
				<div class="medium-4 medium-offset-1 small-12 columns">
					<label>Keyword
						<input type="text" placeholder="" />
					</label>
				</div>
				<div class="medium-4 small-12 columns">
					<label>Location
						<input type="text" placeholder="" />
					</label>
				</div>
				<div class="medium-2 small-12 columns end">
					<%= link_to "Search", jobs_path(results: "25"), class: "button postfix" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column small-12">
				<button data-dropdown="drop" aria-controls="drop" class="button dropdown">
					Disabled Dropdown Button
				</button>
				<br>
				<ul id="drop" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" tabindex="-1">
					<li>
							<div class="column small-12 end" id="double-bump">
								<label>Email
									<input type="email"/>
								</label>
								<label>
									<input type="radio" name="freq"/>
									Daily
								</label>
								<label>
									<input type="radio" name="freq"/>
									Weekly
								</label>
								<a class="button small">Submit</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>