<% @search_bar = "no-search" %>
<div class="new-homepage">
	<div class="hero-wrapper">
		<div class="hero">
			<div class="row">
				<div class="column small-12 text-center">
					<h1>Find the Right Job. <strong>Right Now</strong></h1>
				</div>
			</div>
			<div class="row">
				<div class="column small-10 small-centered search">
					<div class="row collapse">
						<form>
							<div class="column input-wrapper">
								<label>KEYWORD
									<input type="text" id="search-key">
								</label>
							</div>
							<div class="column input-wrapper">
								<label>LOCATION
									<input type="text" id="search-loc">
								</label>
							</div>
							<div class="column input-wrapper">
								<input type="submit" class="button expand" value="FIND JOBS">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
