<% @search_bar = "no-search" %>
<div class="new-homepage">
	<div class="hero-wrapper">
		<div class="hero">
			<div class="row">
				<div class="column small-12 text-center">
					<h1>Find the Right Job. <strong>Right Now</strong></h1>
				</div>
			</div>
			<div class="row">
				<div class="column small-10 small-centered search">
					<div class="row collapse">
						<form>
							<div class="column input-wrapper">
								<label>KEYWORD
									<input type="text" id="search-key">
								</label>
							</div>
							<div class="column input-wrapper">
								<label>LOCATION
									<input type="text" id="search-loc">
								</label>
							</div>
							<div class="column input-wrapper">
								<input type="submit" class="button expand" value="FIND JOBS">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="popular-search">
		<div class="row">
			<div class="column small-10 small-centered text-left">
				<h1>Popular <strong>job searches</strong></h1>
				<div class="row">
					<div class="column small-4">
						<h2>By Category</h2>
						<p>
							<a>Sales</a> • <a>Consumer Service</a> • <a>Accounting</a> • <a>Entry Level</a> • <a>Administrative Assistant</a> • <a>Retail</a> • <a>Registered Nurse</a>
						</p>
						<a class="browse"><%= image_tag 'popular-catagories.png'%><strong>Browse All Categories</strong></a>
					</div>
					<div class="column small-4">
						<h2>By City</h2>
						<p>
							<a>Chicago</a> • <a>Houston</a> • <a>Dallas</a> • <a>Boston</a> • <a>New York</a> • <a>Atlanta</a> • <a>San Francisco</a> • <a>Miami</a> • <a>Denver</a>
						</p>
						<a class="browse"><%= image_tag 'popular-cities.png'%><strong>Browse All Cities</strong></a>
					</div>
					<div class="column small-4">
						<h2>By Company</h2>
						<p>
							<a>Macy’s</a> • <a>Robert Half</a> • <a>UPS</a> • <a>Aerotek</a> • <a>Army National Guard</a> • <a>UnitedHealth Group<a> • <a>Kelly Service</a>
						</p>
						<a class="browse"><%= image_tag 'popular-companies.png'%><strong>Browse All Companies</strong></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
