 <fieldset>
	<legend>Date Posted <span class="fa fa-chevron-up"></span></legend>
	<ul class="input-group" style="display: block;">
    <li><input type="radio" checked name="dateposted"><label for="pokemonRed">Last 30 Days <span>(1,987)</span></label></li>
   	<li><input type="radio" name="dateposted"><label for="pokemonRed">Last 7 Days <span>(897)</span></label></li>
    <li><input type="radio" name="dateposted"><label for="pokemonRed">Last 24 Hours <span>(245)</span></label></li>
	</ul>
</fieldset>