<label>Degree Required
	<select>
		<option>None (2,345)</option>
		<option>High School (456)</option>
		<option>2 Year Degree (789)</option>
		<option>4 Year Degree (345)</option>
		<option>Graduate Degree (98)</option>
	</select>
</label>