<!--TODO link error param-->
<% if params[:error] == "expired" %>
<div class="row">
    <div class="small-12 medium-12 large-12">
        <div data-alert class="alert-box info">
            This job is expired. <br />
            <b>Sales | In-Store Sales Rep | Quick Advancement Potential<b><br />
            We found these close matches instead.
            <a href="#" class="close">&times;</a>
        </div><!--close data alert-->
    </div><!--close column-->
</div><!--close row-->
<% end %>