<div class="row">

<div class="small-6 large-centered columns">
sdsdsfsdf
<div class="hide-for-small-only">
<img src="http://placehold.it/728x90&text=Ad+728+x+90" alt="premium banner">
</div>

</div>

</div>