<div class="row">

     <div class="small-12 medium-3 large-3 columns hide-for-small-only vertical-bump">
        <a href="../jobs"> < Back to Search </a>
    </div><!--close columns-->

    <div class=" large-3 columns show-for-large-up">
        <p class="right vertical-bump" id="counter"><span id="current">1</span> of <span id="total">1456</span> Jobs in your search</p>
    </div><!--close columns-->

    <div class="medium-9 large-6 columns show-for-medium-up">
        <a class="button secondary right" id="count-up"> <i class="fa fa-chevron-right"></i> </a>
        <span class="next-job right button secondary">Next Job: <br />Entry-Level Sales/Management Training</span>
        <a href="" class="button secondary right" id="count-down"> <i class="fa fa-chevron-left"></i> </a>
    </div><!--close columns-->

    <div class="show-for-small-only">
        <div class="small-6 columns">
        <a href="" class="button secondary expand right" > <i class="fa fa-chevron-left"></i> Previous Job</a>
        </div>
        <div class="small-6 columns">
        <a class="button secondary expand right" > Next Job <i class="fa fa-chevron-right"></i> </a>
        </div>
    </div><!--close columns-->

</div><!--close row-->