<!--header-->
<div class="row">
    <div class="small-12 large-7 columns">
        <h1> Sales Representative Jobs in Atlanta, GA</h1>
    </div><!--close column-->

    <div class="small-12 large-2 columns">
        <p>1,356 jobs found</p>
    </div><!--close column-->

    <div class="small-12 large-3 right columns hide-for-small-only">
        <a href="#" class="button secondary">Create Job Alert</a>
    </div><!--close column-->
</div><!--close row-->