<div class="row collapse">
	<div class="column small-12">
		<label>Salary</label>
	</div>
	<div class="column small-6">
		<input type="text" placeholder="Min" />
	</div>
	<div class="column small-6">
		<input type="text" placeholder="Max" />
	</div>
</div>