<ul class="small-block-grid-7 hide-for-small-only">
    <li><i class="fa fa-2x fa-facebook-square"></i></li>
    <li><i class="fa fa-2x fa-twitter-square"></i></li>
    <li><i class="fa fa-2x fa-google-plus-square"></i></li>
    <li><i class="fa fa-2x fa-youtube-square"></i></li>
</ul>