<div class="row">
    <div class="small-12 large-4 columns">
        <h1>Find Jobs</h1>
    </div>
</div>

<div class="row">
    <div class="small-12 medium-2 large-2 columns">
        <ul class="side-nav">
        <li><h3>Search By</h3></li>
        <li><a href="find_jobs_landing">Browse All</a></li>
        <li><a href="find_jobs_searchstate">State</a></li>
        <li><a href="find_jobs_jobtitles">Job Title</a></li>
        <li class="active"><a href="find_jobs_category">Category</a></li>
        <li><a href="find_jobs_company">Company</a></li>
        </ul>
    </div>
    <div class="small-12 medium-10 large-10 columns">
        <h3><a href="accounting_alabama">Accounting Jobs in Alabama</a> by City</h3>
        <hr />
    </div>

    <div class="row">
        <div class="small-12 medium-3 large-3 columns">
            <ul class="findjobslist side-nav">
                <li><a href="../jobs">Birmingham</a></li>
                <li><a href="../jobs">Mobile</a></li>
                <li><a href="../jobs">Montgomery</a></li>
                <li><a href="../jobs">Huntsville</a></li>
                <li><a href="../jobs">Tuscaloosa</a></li>
                <li><a href="../jobs">Dothan</a></li>
                <li><a href="../#">Decatur</a></li>
                <li><a href="#">Auburn</a></li>
                <li><a href="#">Gadsden</a></li>
            </ul>
        </div>
        <div class="small-12 medium-3 large-3 columns">
            <ul class="findjobslist side-nav">
                <li><a href="../jobs">Hoover</a></li>
                <li><a href="../jobs">Bessemer</a></li>
                <li><a href="../jobs">Calvert</a></li>
                <li><a href="../jobs">Florence</a></li>
                <li><a href="../jobs">Madison</a></li>
                <li><a href="../jobs">Anniston</a></li>
                <li><a href="#">Opelika</a></li>
                <li><a href="#">Clanton</a></li>
                <li><a href="#">Irondale</a></li>
            </ul>
        </div>
        <div class="small-12 medium-3 large-3 columns">
            <ul class="findjobslist side-nav">
                <li><a href="../jobs">Phenix City</a></li>
                <li><a href="../jobs">Daphne</a></li>
                <li><a href="../jobs">Foley</a></li>
                <li><a href="../jobs">Pelham</a></li>
                <li><a href="../jobs">Theodore</a></li>
                <li><a href="#">Alabaster</a></li>
                <li><a href="#">Oxford</a></li>
                <li><a href="#">Selma</a></li>
            </ul>
        </div>
    </div>
</div>
