<div class="row">
    <div class="small-12 large-4 columns">
        <h1>Find Jobs</h1>
    </div>
</div>

<div class="row">
    <div class="small-12 medium-2 large-2 columns">
        <ul class="side-nav">
        <li><h3>Search By</h3></li>
        <li><a href="find_jobs_landing">Browse All</a></li>
        <li><a href="find_jobs_searchstate">State</a></li>
        <li><a href="find_jobs_jobtitles">Job Title</a></li>
        <li class="active"><a href="">Category</a></li>
        <li><a href="find_jobs_company">Company</a></li>
        </ul>
    </div>
    <div class="small-12 medium-10 large-10 columns">
        <h3><a href="find_jobs_accounting">Accounting Jobs</a> By State</h3>
    </div>
    <div class="row">
        <div class="small-12 medium-3 large-3 columns">
            <ul class="findjobslist side-nav">
                <li><a href="../jobs">Alabama</a><a href="find_jobs_accounting_alabama_city">Select City</a></li>
                <li><a href="../jobs">Alaska</a><a href="find_jobs_accounting_alabama_city">Select City</a></li>
                <li><a href="">Arizona</a><a href="#">Select City</a></li>
                <li><a href="">Arkansas</a><a href="#">Select City</a></li>
                <li><a href="">California</a><a href="#">Select City</a></li>
                <li><a href="">Colorado</a><a href="#">Select City</a></li>
                <li><a href="">Connecticut</a><a href="#">Select City</a></li>
                <li><a href="">Delaware</a><a href="#">Select City</a></li>
                <li><a href="">Florida</a><a href="#">Select City</a></li>
                <li><a href="">Georgia</a><a href="#">Select City</a></li>
                <li><a href="">Hawaii</a><a href="#">Select City</a></li>
                <li><a href="#">Idaho</a><a href="#">Select City</a></li>
                <li><a href="#">Illinois</a><a href="#">Select City</a></li>
                <li><a href="#">Indiana</a><a href="#">Select City</a></li>
                <li><a href="#">Iowa</a><a href="#">Select City</a></li>
                <li><a href="#">Kansas</a><a href="#">Select City</a></li>
                <li><a href="#">Kentucky</a><a href="#">Select City</a></li>
            </ul>
        </div>
        <div class="small-12 medium-3 large-3 columns">
            <ul class="findjobslist side-nav">
                <li><a href="find_jobs_alabama">Louisiana</a><a href="#">Select City</a></li>
                <li><a href="find_jobs_alabama">Maine</a><a href="#">Select City</a></li>
                <li><a href="find_jobs_alabama">Massachusetts</a><a href="#">Select City</a></li>
                <li><a href="find_jobs_alabama">Michigan</a><a href="#">Select City</a></li>
                <li><a href="#">Minnesota</a><a href="#">Select City</a></li>
                <li><a href="#">Mississippi</a><a href="#">Select City</a></li>
                <li><a href="#">Missouri</a><a href="#">Select City</a></li>
                <li><a href="#">Montana</a><a href="#">Select City</a></li>
                <li><a href="#">Nebraska</a><a href="#">Select City</a></li>
                <li><a href="#">Nevada</a><a href="#">Select City</a></li>
                <li><a href="#">New Hampshire</a><a href="#">Select City</a></li>
                <li><a href="#">New Jersey</a><a href="#">Select City</a></li>
                <li><a href="#">New Mexico</a><a href="#">Select City</a></li>
                <li><a href="#">New York</a><a href="#">Select City</a></li>
                <li><a href="#">North Carolina</a><a href="#">Select City</a></li>
                <li><a href="#">North Dakota</a><a href="#">Select City</a></li>
            </ul>
        </div>
        <div class="small-12 medium-3 large-3 columns">
            <ul class="findjobslist side-nav">
                <li><a href="find_jobs_alabama">Ohio</a><a href="#">Select City</a></li>
                <li><a href="find_jobs_alabama">Oklahoma</a><a href="#">Select City</a></li>
                <li><a href="find_jobs_alabama">Oregon</a><a href="#">Select City</a></li>
                <li><a href="find_jobs_alabama">Pennsylvania</a><a href="#">Select City</a></li>
                <li><a href="#">Rhode Island</a><a href="#">Select City</a></li>
                <li><a href="#">South Carolina</a><a href="#">Select City</a></li>
                <li><a href="#">South Dakota</a><a href="#">Select City</a></li>
                <li><a href="#">Tennessee</a><a href="#">Select City</a></li>
                <li><a href="#">Texas</a><a href="#">Select City</a></li>
                <li><a href="#">Utah</a><a href="#">Select City</a></li>
                <li><a href="#">Vermont</a><a href="#">Select City</a></li>
                <li><a href="#">Virginia</a><a href="#">Select City</a></li>
                <li><a href="#">Washington</a><a href="#">Select City</a></li>
                <li><a href="#">West Virginia</a><a href="#">Select City</a></li>                
                <li><a href="#">Wisconsin</a><a href="#">Select City</a></li>
                <li><a href="#">Wyoming</a><a href="#">Select City</a></li>
            </ul>
        </div>
    </div>
</div>

