<div class="row">
<div class="column small-12 medium-9 medium-centered">
<h1>Screener HERE</h1>
<p>All information is optional</p>
<form>
	<label>Self Identification of Gender</label>
		<input type="radio" id="male" name="gender"><label for="male">Male</label>
		<br>
		<input type="radio" id="female" name="gender"><label for="female">Female</label></input>
		<br>
		<input type="radio" id="not-disclosed" name="gender"><label for="not-disclosed"> I prefer not to disclose this information
	</label>
	<label>Self Identification of Ethnicity</label>
	<select>
		<option>American Indian or Alaska Native (Not Hispanic or Latino)</option>
		<option>Asian (Not Hispanic or Latino)</option>
	</select>
</form>
</label>
</div>
</div>