<div class="row">
<div class="column small-12 medium-9 medium-centered">
<h1>Screener HERE</h1>
<form>
	<label>Self Identification of Gender</label>
		<input type="radio" id="male" name="gender"><label for="male">Male</label>
		<br>
		<input type="radio" id="female" name="gender"><label for="female">Female</label></input>
		<br>
		<input type="radio" id="not-disclosed" name="gender"><label for="not-disclosed"> I prefer not to disclose this information
	</label>
</form>
</label>
</div>
</div>