<div class="row">
	<div class="column small-12 medium-9 medium-centered">
		<h1>Create Resume</h1>
	</div>
</div>

<!-- MOBILE LEAD PROGRESS STEPS -->
<% @step_one = "is-active" %>
<%= render 'apply/mobile_lead_steps' %>
<!-- END MOBILE LEAD PROGRESS STEPS -->

<div class="row">
	<div class="column small-12 large-9 large-centered">
		<label>
			First Name
			<input type="text" />
		</label>
		<label>Last Name
    	<input type="text" />
    </label>
		<label>Email Address
      <input type="text" />
    </label>
		<label>Phone Number
      <input type="text" />
    </label>
		<label>City,State or Zipcode
      <input type="text" />
    </label>
		<label>Work Status
			<select>
				<option value="husker">Select One</option>
	      <option value="starbuck">Employment Authorization Document</option>
	      <option value="hotdog">US Citizen</option>
	      <option value="apollo">Green Card Holder</option>
	    </select>
	  </label>

   	<%= link_to "Next", url_for(step: "mobile-lead-work"), class: "button expand" %>

   	<%= link_to "Cancel", url_for(step: "upload"), class: "button secondary expand" %>

	</div>
</div>

