<div class="row">
	<div class="column small-12 medium-9 medium-centered" >
		<div data-alert class="alert-box info radius" style="padding:10px;">
		 <strong>We converted your document to a CareerBuilder resume.</strong>
		   <br/>Please review your information for accuracy before you share it with thousands of employers!
		  <a href="#" class="close">&times;</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="column small-12 medium-9 medium-centered">
		<h1>Create Resume</h1>
	</div>
</div>

<!-- MOBILE LEAD PROGRESS STEPS -->
<% @step_four = "is-active" %>
<%= render 'apply/mobile_lead_steps' %>
<!-- END MOBILE LEAD PROGRESS STEPS -->


<div class="row">
	<div class="column small-12 medium-9 medium-centered">
		
		<!-- Make sure the preview is in show mode and edit is hidden -->
		<% @show_show = "" %>		
		<% @edit_show = "hide" %>
		
		<!-- Show the resume preview partial -->
		<%= render 'resumes/resume_preview' %>
		
		<!-- IF on the resumes page link to Add Details -->
		<% if params[:controller] == "resumes" %>
    	<%= link_to "Save Resume", url_for(step: "details"), class: "button expand" %>
    
    <!-- IF on the apply page link to Upload and show attached resume -->
    <% elsif params[:controller] == "apply" %>
    	<%= link_to "Attach Resume", url_for(step: "upload",resume: "attached"), class: "button expand" %>
    <% end %>
    
  </div>
</div>




