<div class="row">
	<div class="column small-12">
		<h1>Create Resume</h1>
	</div>
</div>

<!-- Progress steps-->
<div class="row">
	<div class="column small-12 medium-10 medium-centered">
		<ol class="progress_resume">
			<li data-step="1">
				Profile
			</li>
			<li data-step="2" class="is-active">
				Work History
			</li>
			<li data-step="3" >
				Education
			</li>
			<li data-step="4" class="progress_resume_last">
				Preview
			</li>
		</ol>
	</div>
</div>
<!-- Progress steps End-->

<div class="row">
	<div class="column small-12 medium-9 medium-centered">
		<div class="row">
			<div class="column small-12">
				<% @edit_show = "" %>
				<% @show_show = "hide" %>
				<%= render 'resumes/work_experience_entry' %>
			</div>
			<div class="column small-12">
				<%= link_to "Add Position", "#", class: "button secondary expand" %>
				<hr/>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="column small-12 large-9 large-centered">
		<div class="row">
			<div class="column small-12">
	    	<%= link_to "Next", url_for(step: "mobile-lead-edu"), class: "button expand" %>
	    </div>
	    <div class="column small-12">
	    	<%= link_to "Cancel", url_for(step: "mobile-lead"), class: "button secondary expand" %>
	    </div>
	  </div>
	</div>
</div>