<div class="row">
	<div class="column small-12">
		<h1>Create Resume</h1>
	</div>
</div>

<!-- Progress steps-->
<div class="row">
	<div class="column small-12 medium-10 medium-centered">
		<ol class="progress_resume">
		  <li  data-step="1">
		    Profile
		  </li>
		  <li data-step="2" class="is-active">
		    Work History
		  </li>
		  <li   data-step="3" >
		    Education
  		  </li>
  		   <li  data-step="4" class="progress_resume_last">
		    Preview
  		  </li>
		</ol>

	</div>
</div>

<!-- Progress steps End-->

<div class="row">
	<div class="column medium-6 medium-centered">
		<div class="row">
			<div class="column small-12">
				<h4>Work Experience</h4>
			</div>
		</div>
		<%= render 'resumes/edit_work' %>		
	</div>

	
		<div class="column small-12 medium-6 medium-centered">
			<div class="button expand secondary">Add Position</div><hr/>
		</div>
		<!-- Add Section button ends-->

		<div class="column small-12 medium-6 medium-centered">
	    	<%= link_to "Next", apply_mobile_lead_edu_path, class: "button  expand" %>
	    </div>

	    <div class="column small-12 medium-6 medium-centered">
	    	<%= link_to "Back", apply_mobile_lead_path, class: "button secondary  expand" %>
	    </div>
</div>



<div class="row">
	
</div>


