<div class="row">
	<div class="column small-12">
		<h1>Create Resume</h1>
	</div>
</div>

<!-- Progress steps-->
<div class="row">
	<div class="column small-12 medium-8 medium-centered">
		<ol class="progress_resume">
		  <li  data-step="1">
		    Profile
		  </li>
		  <li data-step="2">
		    Work History
		  </li>
		  <li   data-step="3"  class="is-active">
		    Education
  		  </li>
  		   <li  data-step="4" class="progress_resume_last">
		    Preview
  		  </li>
		</ol>

	</div>
</div>

<!-- Progress steps End-->
<div class="row">
	<div class="column medium-9 medium-centered">

		<% @show_show = "hide" %>
		<% @edit_show = "" %>
		<%= render 'resumes/education_entry' %>
		<div class="column">
			<div class="button expand secondary">Add Education</div>
		</div>
	</div>

	<div class="column small-12 medium-9 medium-centered">
		<hr/>
    	<%= link_to "Next", url_for(step: "mobile-lead-preview"), class: "button  expand" %>
    </div>

    	<div class="column small-12 medium-9 medium-centered ">
    	<%= link_to "Back", apply_mobile_lead_work_path, class: "button secondary expand" %>
    </div>
	
</div>

