<div class="row">
	<div class="column small-12 medium-11 medium-centered">
		<ol class="progress_resume">
			<li data-step="1" class="<%= @step_one %>">
				Profile
			</li>
			<li data-step="2" class="<%= @step_two %>">
				Work History
			</li>
			<li data-step="3" class="<%= @step_three %>">
				Education
			</li>
			<li data-step="4" class="<%= @step_four %>">
				Preview
			</li>
		</ol>
	</div>
</div>