<div class="row">
	<div class="column small-12 medium-12 large-12">
		<h2 class="subheader">Applying to</h2>
	</div>

	<div class="column small-12 medium-12 large-12">
		<h1>Sales Coordinator – Inside Sales Representative – Account Executive – Sales Representative</h1>
	</div>
</div>


<!--Saved resume list-->
<div class="row">
	<div class="column small-12 medium-12 large-12">
		<h4>Apply Options</h4>
	</div>
</div>

<div class="row">
	<div class="small-1 columns icon"> <img src="http://placehold.it/32x32"></div>
	<div class="small-11 columns">This is a very long resume title of a very long job</div>
</div>
<div class="row">
	<div class="small-1 columns icon"> <img src="http://placehold.it/32x32"></div>
	<div class="small-11 columns">This is a very long resume title of a very long job</div>
</div>
<div class="row">
	<div class="small-1 columns icon"> <img src="http://placehold.it/32x32"></div>
	<div class="small-11 columns">This is a very long resume title of a very long job</div>
</div>
<div class="row">
	<div class="small-1 medium-1 large-1 columns icon"> <img src="http://placehold.it/32x32"></div>
	<div class="small-11 medium-11 large-11 columns">This is a very long resume title of a very long job</div>
</div>
<div class="row">
	<div class="small-1 medium-1 large-1 columns icon"> <img src="http://placehold.it/32x32"></div>
	<div class="small-11 medium-11 large-11 columns">This is a very long resume title of a very long job</div>
</div>

<!-- Saved Cover Letter List-->

<div class="row">
	<div class="column small-12 medium-12 large-12">
		<h4>Include Cover Letter (Optional)</h4>
	</div>
</div>
<div class="row">
	<div class="column large-6 medium-6 small-12">
		 <textarea placeholder="" rows="4"></textarea>
	</div>
</div>



<!-- Collect password-->

<div class="row">
	<div class="column small-12 medium-12 large-12">
	<hr/>
		<h3>Create a password</h3>
		<p> Save your resume and use again next time.</p>
	</div>
</div>

<!-- Password Area-->

	<div class="row">
		<div class="column large-6 medium-6 small-12">
				<label>Password
			<div class="row collapse">
				<div class="column small-10">
					<!-- TODO password validation -->
			    <input type="password" placeholder="password" />
			  </div>
		    <div class="small-2 columns">
		    	<!-- TODO show/hide password -->
		      <a href="#" class="button secondary postfix">Show</a>
		    </div>
		  </div>
			</label>
		</div>
	</div>

	<!-- TODO message : Make Dynamic Password Validation -->
<div class="row">
	<div class="column large-6 medium-6">
		<div class="row">
			<div class="column small-12 large-6 medium-6">
				<li> 8 to 15 characters</li>
				<li>Lowercase Letters</li>
			</div>
		
			<div class="column small-12 large-6 medium-6">
				<li>Number or Symbol</li>
				<li>Uppercase Letters</li>
			</div>
		</div>
		
	</div>
	<hr/>
</div>

<!-- End Password Area-->


<div class="row">
	<div class="column small-12 medium-4 large-4">
		<div class="button">Send Application</div> 

	</div> 
</div>
