<div class="row">
	<div class="column small-12 medium-12 large-12">
		<h2 class="subheader">Applying to</h2>
	</div>

	<div class="column small-12 medium-12 large-12">
		<h1>Sales Coordinator – Inside Sales Representative – Account Executive – Sales Representative</h1>
	</div>
</div>


<!--Saved resume list-->
<div class="row">
	<div class="column small-12 medium-12 large-12">
		<h3>Apply Options</h3>
	</div>
</div>

<div class="row">
	<div class="small-1 medium-1 large-1 columns icon"> <img src="#" alt="Resume Icon" /></div>
	<div class="small-11 medium-11 large-11 columns">This is a very long resume title of a very long job</div>
</div>
<div class="row">
	<div class="small-1 medium-1 large-1 columns icon"> <img src="#" alt="Resume Icon" /></div>
	<div class="small-11 medium-11 large-11 columns">This is a very long resume title of a very long job</div>
</div>
<div class="row">
	<div class="small-1 medium-1 large-1 columns icon"> <img src="#" alt="Resume Icon" /></div>
	<div class="small-11 medium-11 large-11 columns">This is a very long resume title of a very long job</div>
</div>
<div class="row">
	<div class="small-1 medium-1 large-1 columns icon"> <img src="#" alt="Resume Icon" /></div>
	<div class="small-11 medium-11 large-11 columns">This is a very long resume title of a very long job</div>
</div>
<div class="row">
	<div class="small-1 medium-1 large-1 columns icon"> <img src="#" alt="Resume Icon" /></div>
	<div class="small-11 medium-11 large-11 columns">This is a very long resume title of a very long job</div>
</div>

<!-- Saved Cover Letter List-->

<div class="row">
	<div class="column small-12 medium-12 large-12">
		<h3>Include Cover Letter (Optional)</h3>
	</div>
</div>
<div class="row">
	<div class="column large-8 medium-6 small-12">
		 <textarea placeholder=""></textarea>
	</div>
</div>


<div class="row">
	<div class="column small-12 medium-4 large-4">
		<div class="button">Send Application</div> 

	</div> 
</div>
