<div class="row">
	<div class="column small-12">
		<h1>Create Resume</h1>
	</div>
</div>

<!-- Progress steps-->
<div class="row">
	<div class="column small-12">
		<ol class="progress_resume">
		  <li  data-step="1">
		    Profile
		  </li>
		  <li data-step="2">
		    Work History
		  </li>
		  <li   data-step="3"  class="is-active">
		    Education
  		  </li>
  		   <li  data-step="4" class="progress_resume_last">
		    Preview
  		  </li>
		</ol>

	</div>
</div>

<!-- Progress steps End-->

<%= render 'resumes/edit_edu' %>
<div class="row">
	<div class="column small-12">
	<hr/>
	</div>
</div>
<%= render 'resumes/edit_edu' %>
<div class="row">
	<div class="column">
		<div class="button expand secondary">Add Education</div>
	</div>
</div>

		<!-- Add Section button ends-->


<div class="row">
	<div class="column small-12 ">
	<hr/>
    	<div class="button expand"> Next</div>
    </div>
</div>

<div class="row">
    <div class="column small-12 ">
    	<div class="button secondary expand"> Cancel</div>
    </div>
</div>


