<div class="row">
	<div class="column small-12">
		<h1>Create Resume</h1>
	</div>
</div>

<!-- Progress steps-->
<div class="row">
	<div class="column small-12 medium-8 medium-centered">
		<ol class="progress_resume">
		  <li  data-step="1">
		    Profile
		  </li>
		  <li data-step="2">
		    Work History
		  </li>
		  <li   data-step="3" >
		    Education
  		  </li>
  		   <li  data-step="4" class="progress_resume_last is-active">
		    Preview
  		  </li>
		</ol>

	</div>
</div>


<%= render 'resumes/resume_preview' %>


		<!-- Save Section button -->


<div class="row">
	<div class="column small-8 medium-6 medium-centered ">
    	<div class="button expand"> Save Resume</div>
    </div>
</div>




