
<!--<div class="row">
	<div class="column small-12 medium-12 large-12">
		<h2 class="subheader">Applying to</h2>
	</div>

	<div class="column small-12 medium-12 large-12">
		<h1>Sales Coordinator – Inside Sales Representative – Account Executive – Sales Representative</h1>
	</div>
</div>-->

<div class="row">
	<div class="column large-7">
		<div class="row">
			<div class="column large-10"> 
				<h3>Already have an account</h3>
			</div>
		</div>
		<div class="row">
			<div class="column large-8 ">
				<label>Email
				<!-- TODO email validation -->
	        		<input type="text" placeholder="Email" />
	      		</label>
			</div>
		</div>
		<!-- Password-->
		<div class="row">
			<div class="column large-8 ">
				<label>Password
					<div class="row collapse">
						<div class="column small-10">
								<!-- TODO password validation -->
						    <input type="password" placeholder="password" />
						 </div>
					    <div class="small-2 columns">
					    	<!-- TODO show/hide password -->
					      <a href="#" class="button secondary postfix">Show</a>
					    </div>
					 </div>
				</label>
			</div>
		</div>
		<!-- password ends-->
		<div class="row">
			<div class="column large-8">
			<a href="#" class="button expand">Sign In </a>
				
			</div>
		</div>
		<div class="row">
			<div class="column  large-8 text-center">
			-OR-
				
			</div>
		</div>
		
		<div class="row">
			<div class="column large-8">
				<a href="#" class="button expand">Facebook </a>
				<a href="#" class="button expand">Google Plus </a>
			</div>
		</div>
	</div>
	<!--<div class="column large-2 large-centered medium-centered text-center">OR</div>-->

	<!-- Guest Stuff-->
	<div class="column large-5">
		<div class="row">
				<div class="column large-8 ">
				<h3>Continue as Guest</h3>
			</div>
		</div>
		<div class="row">
				<div class="column large-8 ">
				<p>You will have the opportunity to create an account after checkout.</p>
			</div>
		</div>

		<div class="row">
				<div class="column large-8 ">
				<a href="#" class="button expand">Apply as Guest</a>
			</div>

		</div>	
	</div>
</div>

