

<!-- Form Area -->
<div class="row"></div>
	<div class="column small-12 large-6 medium-6">
		<div class="row">
			<div class="column small-12 ">
				<label>Email
				<!-- TODO email validation -->
	        		<input type="text" placeholder="Email" />
	      		</label>
			</div>
		</div>
		<div class="row">
			<div class="column small-12 ">
					<label>Password
			<div class="row collapse">
				<div class="column small-10">
					<!-- TODO password validation -->
			    <input type="password" placeholder="password" />
			  </div>
		    <div class="small-2 columns">
		    	<!-- TODO show/hide password -->
		      <a href="#" class="button secondary postfix">Show</a>
		    </div>
		  </div>
		</label>
			</div>
		</div>
		<div class="row">
			<div class="column small-6">
	      		<input id="checkbox1" type="checkbox"><label for="checkbox1">Remember Me</label>
			</div>
			<div class="column small-6 end text-right">
				<a href="#" data-reveal-id="myModal">Forgot Password</a>
				<div id="myModal" class="reveal-modal" data-reveal>
					  	<h2>Forgot Password</h2>
					  	<p class="lead">Some text about what to do here.</p>
					  	 <div class="row">
						    <div class="large-12 columns">
						      <label>Email Address
						        <input type="text" placeholder="Email Address" />
						      </label>
						    </div>
						  </div>
						  <div class="row">

						  			<a href="#" class="button ">Send Password</a>
						  </div>
					  	<a class="close-reveal-modal">&#215;</a>
					</div>	
			</div>
		</div>
		<div class="row">
			<div class="column small-12">
				<a href="#" class="button expand">Sign In</a>
			</div>
		</div>
		<div class="row">
			<div class="column small-12 large-centered medium-centered text-center">
				 <a href="#" class="button expand">Create Account</a>
			</div>
		</div>

<!-- Social Stuff-->	
<div class="row">
	<div class="column small-12 large-centered medium-centered">
		
			<div class="row">
				<div class="column small-12 large-centered medium-centered text-center">
					<p> or sign in with</p>
				</div>
			</div>

			<div class="row">
				<div class="column small-12 large-centered medium-centered">
					<a href="#" class="button expand">Facebook </a>
					<a href="#" class="button expand">Google Plus </a>
				</div>

			</div>	

		</div>
	</div>
</div>	



<!-- Guest Checkout-->

<div class="row">
	<div class="column small-12 medium-6 large-6 ">
	
		<div class="row">
			<div class="column small-12 large-centered medium-centered text-center">
				<h3>Continue as Guest</h3>
			</div>
		</div>
		<div class="row">
			<div class="column small-12 large-centered medium-centered text-center">
				<p>Continue to apply as a guest. For a faster apply process next time, you can register for an account at the end.</p>
			</div>
		</div>

		<div class="row">
			<div class="column small-12 large-centered medium-centered">
				<a href="#" class="button expand">Apply as Guest</a>
			</div>

		</div>	

	</div>
</div>


