<div class="row">
	<div class="column small-3 medium-2">
		<div class="button small">Save</div>
	</div>
	<div class="column small-9 medium-10">
		<div class="button small secondary">Cancel</div>
	</div>
	
</div>
<!-- End Button Area-->