<label>Password
	<div class="row collapse">
		<div class="column small-10">
			<!-- TODO password validation -->
	    <input type="password" id="password" data-abide-validator=<%=data_abide_validator %> />
	    <small class="error">A valid password is required</small>
	    <!-- <small class="error">This Password doesn't work</small> -->
	  </div>
    <div class="small-2 columns">
      <a href="#" id="showhide" class="button secondary postfix" onclick="$('#password').togglePassword();toggle_password_text('showhide')">Show</a>
    </div>
  </div>
</label>
