<div class="column small-12">
	<%= render 'user/password_field', password_id: "new-password", password_label: password_create_label , show_hide_id: "showhidecreation", data_abide_validator: "passwordcb"%>
</div>
<div class="column small-6 large-6 medium-6">
	<li id="character-count"> <small> 8 to 15 characters</small></li>
	<li id="lowercase-count"> <small>Lowercase Letters</small></li>
</div>
<div class="column small-6 large-6 medium-6">
	<li id="number-or-symbol"> <small>Number or Symbol</small></li>
	<li id="uppercase-count"> <small>Uppercase Letters</small></li>
</div>