<label>Password
	<div class="row collapse">
		<div class="column small-10">
			<!-- TODO password validation -->
	    <input type="password" id="password" placeholder="password" />
	  </div>
    <div class="small-2 columns">
      <a href="#" id="showhide" class="button secondary postfix" onclick="$('#password').togglePassword();toggle_password_text('showhide')">Show</a>
    </div>
  </div>
</label>