<div class="column small-12">
	<%= render 'user/password_field', password_id: "new-password", password_label: password_create_label , show_hide_id: "showhidecreation", data_abide_validator: "passwordcb"%>
</div>
<div class="column small-6 large-6 medium-6">
	<li id="character-count"> 8 to 15 characters</li>
	<li id="lowercase-count">Lowercase Letters</li>
</div>
<div class="column small-6 large-6 medium-6">
	<li id="number-or-symbol">Number or Symbol</li>
	<li id="uppercase-count">Uppercase Letters</li>
</div>