<div class="row"> 
	<div class="column small-12 text-center">
		<img src="#"/>
		<p> Text about benefits</p>
	</div>

</div>

<!-- Form Area -->
<div class="row">
	<div class="column small-12 medium-6 large-6">
		<div class="row">
			<div class="column small-12 large-centered medium-centered">
				<label>Email
	        		<input type="text" placeholder="Email" />
	      		</label>
			</div>
		</div>
		<div class="row">
			<div class="column small-12 large-centered medium-centered">
				<label>Password
	        		<input type="text" placeholder="Password" />
	      		</label>
			</div>
		</div>
		<div class="row">
			<div class="column small-6">
	      		<input id="checkbox1" type="checkbox"><label for="checkbox1">Remember Me</label>
			</div>
			<div class="column small-6 end text-right">
				<a href="#">Forgot Password</a>
			</div>
		</div>
		<div class="row">
			<div class="column small-12 large-centered medium-centered">
				<a href="#" class="button expand">Sign In</a>
			</div>
		</div>
		<div class="row">
			<div class="column small-12 large-centered medium-centered text-center">
				<p> Don't have an account? <a href="#">Sign Up Now</a></p>	
			</div>
		</div>
	</div>


<!-- Social Stuff-->


	<div class="column small-12 medium-5 large-5">
	
		<div class="row">
			<div class="column small-12 large-centered medium-centered text-center">
				<p> or sign in with</p>
			</div>
		</div>

		<div class="row">
			<div class="column small-12 large-centered medium-centered">
				<a href="#" class="button expand">Facebook </a>
				<a href="#" class="button expand">Google Plus </a>
			</div>

		</div>	

	</div>
</div>


