<div class="row"> 
	<div class="column small-12 text-center">
		<img src="#"/>
		<p> Text about benefits</p>
		<p>Already have an account? <a href="#">Sign In</a></p>
	</div>

</div>

<!-- Form Area -->
<div class="row">
	<div class="column small-12 medium-6 large-6">
		<div class="row">
			<div class="column small-12 large-centered medium-centered">
				<label>First Name
	        		<input type="text" placeholder="First Name" />
	      		</label>
			</div>
		</div>
		<div class="row">
			<div class="column small-12 large-centered medium-centered">
				<label>Last Name
	        		<input type="text" placeholder="Last Name" />
	      		</label>
			</div>
		</div>
		<div class="row">
			<div class="column small-12 large-centered medium-centered">
				<label>Email
	        		<input type="text" placeholder="Email" />
	      		</label>
			</div>
		</div>
		<div class="row">
			<div class="column small-12 large-centered medium-centered">
				<label>Zipcode
	        		<input type="text" placeholder="Zipcode" />
	      		</label>
			</div>
		</div>
		<div class="row">
			<div class="column small-12 large-centered medium-centered">
				<label>Password
	        		<input type="text" placeholder="Password" />
	      		</label>
			</div>
		</div>
		<!-- TODO message : Make Dynamic Password Validation -->
		<div class="row">
			<div class="column small-6 large-6 medium-6">
				<li> 8 to 15 characters</li>
				<li>Lowercase Letters</li>
			</div>
		
			<div class="column small-6 large-6 medium-6">
				<li>Number or Symbol</li>
				<li>Uppercase Letters</li>
			</div>
		</div>
	
		<div class="row">
			<div class="column small-12 large-centered medium-centered">
				<a href="#" class="button expand">Sign Up</a>
			</div>
		</div>
		
	</div>


<!-- Social Stuff-->


	<div class="column small-12 medium-5 large-5">
	
		<div class="row">
			<div class="column small-12 large-centered medium-centered text-center">
				<p> or sign in with</p>
			</div>
		</div>

		<div class="row">
			<div class="column small-12 large-centered medium-centered">
				<a href="#" class="button expand">Facebook </a>
				<a href="#" class="button expand">Google Plus </a>
			</div>

		</div>	

	</div>
</div>


