<form data-abide>
	<label>First Name
  	<input type="text" placeholder="" />
	</label>
	<label>Last Name
	  <input type="text" placeholder="" />
	</label>
	<label>Zip Code
	  <input type="text" placeholder="" />
	</label>
	<%= submit_tag "Save Changes", class: "button expand" %>
