<% @alert_name = "account information" %>
<form action="<%= @path %>" method="get" data-abide id="email-change-form">
	<%= hidden_field_tag 'page', 'account_information' %>
	<%= hidden_field_tag 'success', 'true' %>
	<label>First Name
  	<input type="text" placeholder="" />
	</label>
	<label>Last Name
	  <input type="text" placeholder="" />
	</label>
	<label>Zip Code
	  <input type="number" placeholder="" />
	</label>
	<%= submit_tag "Save Changes",name: nil, id: "account-information-save", class: "button expand" %>
