<label>First Name
  <input type="text" placeholder="" />
</label>
<label>Last Name
  <input type="text" placeholder="" />
</label>
<label>Zip Code
  <input type="text" placeholder="" />
</label>
<a href="#" class="button expand">Save Changes</a>