<h3>Email me about</h3>
<!-- Email Section-->
<div class="row">
	<div class="column small-10">
		<p>
			Details on new products, tips, and special offers 
		</p>
	</div>
	<div class="column small-2">
		<div class="switch round tiny">
			<input id="exampleCheckboxSwitch2" type="checkbox">
			<label for="exampleCheckboxSwitch2"></label>
		</div>
	</div>
</div>
<!-- Email Section-->
<div class="row">
	<div class="column small-10">
		<p>
			Job Recommendations
			<span data-tooltip aria-haspopup="true" class="has-tip" title="Send you emails with recommended jobs based on jobs you've previously applied to."> What's This?
			</span>
		</p>
	</div>
	<div class="column small-2">
		<div class="switch round tiny">
			<input id="exampleCheckboxSwitch1" type="checkbox">
			<label for="exampleCheckboxSwitch1"></label>
		</div>
	</div>
</div>
<!-- Email Section-->
<div class="row">
	<div class="column small-10">
		<p>
		When my application has been viewed
		</p>
	</div>
	<div class="column small-2">
		<div class="switch round tiny">
		  <input id="exampleCheckboxSwitch3" type="checkbox">
		  <label for="exampleCheckboxSwitch3"></label>
		</div>
	</div>
</div>
<!-- Email Section-->
<div class="row">
	<div class="column small-10">
		<p>
		When my resume has been viewed
		</p>
	</div>



	<div class="column small-2">
		<div class="switch round tiny">
		  <input id="exampleCheckboxSwitch4" type="checkbox">
		  <label for="exampleCheckboxSwitch4"></label>
		</div>
	</div>
</div>