<h3>Email me about</h3>
<!-- Email Section-->
<div class="row">
	<div class="column small-10">
		<p>
			Details on new products, tips, and special offers 
		</p>
	</div>
	<div class="column small-2">
		<div class="switch round tiny">
			<input id="exampleCheckboxSwitch2" type="checkbox">
			<label for="exampleCheckboxSwitch2"></label>
		</div>
	</div>
</div>
<!-- Email Section-->
<div class="row">
	<div class="column small-10">
		<p>
			Job Recommendations
			<span data-tooltip aria-haspopup="true" class="has-tip" title="Send you emails with recommended jobs based on jobs you've previously applied to."> What's This?
			</span>
		</p>
	</div>
	<div class="column small-2">
		<div class="switch round tiny">
			<input id="exampleCheckboxSwitch1" type="checkbox">
			<label for="exampleCheckboxSwitch1"></label>
		</div>
	</div>
</div>
<!-- Email Section-->
<div class="row">
	<div class="column small-10">
		<p>
		When my application has been viewed
		</p>
	</div>
	<div class="column small-2">
		<div class="switch round tiny">
		  <input id="exampleCheckboxSwitch3" type="checkbox">
		  <label for="exampleCheckboxSwitch3"></label>
		</div>
	</div>
</div>
<!-- Email Section-->
<div class="row">
	<div class="column small-10">
		<p>
		When my resume has been viewed
		</p>
	</div>



	<div class="column small-2">
		<div class="switch round tiny">
		  <input id="exampleCheckboxSwitch4" type="checkbox">
		  <label for="exampleCheckboxSwitch4"></label>
		</div>
	</div>
</div>

<hr/>
<div class="row">
	<div class="column small-12">
	<a href="#" data-reveal-id="myModal"> Unsubscribe from all CareerBuilder Emails</a>

	<div id="myModal" class="reveal-modal" data-reveal>
	  <h2>Unsubscribe from all emails</h2>
	  <p>You will be unsubscribed from all updates, job notifications, and newsletter emails from CareerBuilder. Are you sure you want to unsubscribe?</p>
	  
	  <div class="row">
	  	<div class="column small-2 offset-1">
	  		<div class="button  secondary"> Unsubscribe</div>
	  	</div>

	  		<div class="column small-9">
	  		<div class="button"> Nevermind</div>
	  	</div>
	  </div>
	  <a class="close-reveal-modal">&#215;</a>
	</div>
		
	</div>
</div>