<label>Current Password
	<div class="row collapse">
		<div class="column small-10">
			<!-- TODO password validation -->
	    <input type="password" placeholder="" />
	  </div>
    <div class="small-2 columns">
    	<!-- TODO show/hide password -->
      <a href="#" class="button secondary postfix">Show</a>
    </div>
  </div>
</label>
<label>New Password
	<div class="row collapse">
		<div class="column small-10">
			<!-- TODO password validation -->
	    <input type="password" placeholder="" />
	  </div>
    <div class="small-2 columns">
    	<!-- TODO show/hide password -->
      <a href="#" class="button secondary postfix">Show</a>
    </div>
  </div>
</label>
<a href="#" class="button expand">Save Changes</a>