<form data-abide>
	<div class="row">
		<div class="column small-12">
			<%= render 'user/password_field', data_abide_validator: "passwordcb" %>
		</div>
	</div>
	<div class="row">
		<%= render 'user/password_creation_field', data_abide_validator: "passwordcb" %>
	</div>
</form>
<a href="#" class="button expand">Save Changes</a>