<div class="row">
	<div class="column small-12">
		<h1>My Account</h1>
	</div>
</div>
<div class="row">
	<div class="column small-12">
		<select>
			<option selected="true">Account Information</option>
			<option>Account Security</option>
			<option>Manage Email Settings</option>
			<option>Delete Account</option>
		</select>
	</div>
</div>
<div class="row">
	<div class="column small-12">
		<label>First Name
      <input type="text" placeholder="" />
    </label>
    <label>Last Name
      <input type="text" placeholder="" />
    </label>
    <label>Zip Code
      <input type="text" placeholder="" />
    </label>
    <a href="#" class="button expand">Save Changes</a>
  </div>
</div>