<% @search_bar = "no-search" %>

<div class="row">
    <div class="small-12 columns">
        <h1>Saved Searches and Job Alerts</h1>
    </div><!--close column-->
    <div class="small-12 columns">
        <h5>Name</h5>
        <h5>Frequency</h5>
        <h5>Actions</h5>
    </div>
    <div class="small-12 columns">
        <div class="row">
            <h6>Interaction Designer Jobs in Atlanta, GA</h6>
            <input type="radio" name="pokemon" class="active" id="pokemonRed"><label for="pokemonRed">Never</label>
            <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Daily</label>
            <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Weekly</label>
            <img class="placeholder" src="<%= image_path ('icon_placeholder.png') %>" alt="edit pencil icon"/>
            <img class="placeholder" src="<%= image_path ('icon_placeholder.png') %>" alt="delete icon"/>
        </div>
    </div>
</div><!--close row-->
