<div class="row">
	<div class="column small-12">
		<h1>Manage Email Settings</h1>
		<p>Emails will be sent to youremail@gmail.com (<a href="#">change</a>)</p>
	</div>
</div>

<div class="row">
	<div class="column small-12 large-6 show-for-small-only">
		<select>
			<option>Account Information</option>
			<option>Account Security</option>
			<option selected="true">Manage Email Settings</option>
			<option>Delete Account</option>
		</select>
	</div>
</div>
<div class="row">
<!-- only show side nav on medium and up -->

	<div class="column large-3 medium-3">
		<ul class="side-nav show-for-medium-up">
			  <li><a href="#">Account Information</a></li>
			  <li><a href="#">Account Security</a></li>
			  <li class="active"><a href="#">Manage Email Settings</a></li>
			  <li><a href="#">Delete Account</a></li>
		</ul>
	</div>

	<div class="column small-12 large-8 medium-9">
	<h3>Email me about</h3>
	<!-- Email Section-->
		<div class="row">
			<div class="column small-10">
				<p>
				Details on new products, tips, and special offers 
				</p>
			</div>
		

		
			<div class="column small-2">
				<div class="switch round tiny">
				  <input id="exampleCheckboxSwitch2" type="checkbox">
				  <label for="exampleCheckboxSwitch2"></label>
				</div>
			</div>
		</div>
		<!-- Email Section-->
		<div class="row">
			<div class="column small-10">
				<p>
				Job Recommendations
				<span data-tooltip aria-haspopup="true" class="has-tip" title="Send you emails with recommended jobs based on jobs you've previously applied to."> What's This?</span>
				</p>
			</div>
		

		
			<div class="column small-2">
				<div class="switch round tiny">
				  <input id="exampleCheckboxSwitch1" type="checkbox">
				  <label for="exampleCheckboxSwitch1"></label>
				</div>
			</div>
		</div>

		<!-- Email Section-->
		<div class="row">
			<div class="column small-10">
				<p>
				When my application has been viewed
				</p>
			</div>
		

		
			<div class="column small-2">
				<div class="switch round tiny">
				  <input id="exampleCheckboxSwitch3" type="checkbox">
				  <label for="exampleCheckboxSwitch3"></label>
				</div>
			</div>
		</div>


<!-- Email Section-->
		<div class="row">
			<div class="column small-10">
				<p>
				When my resume has been viewed
				</p>
			</div>
		

		
			<div class="column small-2">
				<div class="switch round tiny">
				  <input id="exampleCheckboxSwitch4" type="checkbox">
				  <label for="exampleCheckboxSwitch4"></label>
				</div>
			</div>
		</div>
	
  </div>
</div>