<% @search_bar = "no-search" %>

<div class="row">
    <div class="small-12 large-12 columns">
            <h1>Saved Jobs</h1>
            <h5>Manage your saved jobs and applications</h5>
            <hr />
    </div><!--close column-->

    <div class="small-12 large-6 columns">
            <h5>Interaction Designer</h5>
                    <p>ABC Consulting Group | Atlanta, GA</p>
                    <p><b>Expires 7/1/15</b></p>
                    <hr />
                    <!--TODO add progress bar-->
                    <p>Progress Bar Placeholder</p>
                    <a href="#" class="button">Next Step: Apply</a>
                    <p>Add Notes</p>
                    <a href="../recommendations/similarrecs">See Similar Jobs</a>
                    <hr />
    </div>
        <div class="small-12 large-6 columns">
            <h5>Interaction Designer</h5>
                    <p>ABC Consulting Group | Atlanta, GA</p>
                    <p><b>Expires 7/1/15</b></p>
                    <hr />
                    <!--TODO add progress bar-->
                    <p>Progress Bar Placeholder</p>
                    <a href="#" class="button">Next Step: Apply</a>
                    <p>Add Notes</p>
                    <a href="../recommendations/similarrecs">See Similar Jobs</a>
                    <hr />
    </div>
</div><!--close row-->