@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
.new-homepage {
	* {
		font-family: 'Open Sans', sans-serif;
	}
	i {
		font-family: FontAwesome;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
	}
	.hero-wrapper {
		background-image: linear-gradient(rgba(0, 59, 89, 0.5),rgba(0, 59, 89, 0.5)), url('hero-image.jpeg');
		background-size: cover;
		border-bottom: 1em #93ABBA solid;
	}
	.hero {
		background-image: linear-gradient(rgba(0, 70, 107, 0) 50%, rgba(0, 70, 107, 0.5));
		height:624px;
		width:100%;
		padding-top:4em;
	}
	h1 {
		font-size: 2.25em;
		color: #fff;
		font-weight:300;
	}
	.search {
		padding: 1.5em 2.5em;
		background-color: rgba(0,0,0,0.3);
		border-radius: 8px;
	}
	label {
		color: #fff;
		font-size: 1em;
		font-weight: 300;
	}
	input[type="text"] {
		margin-top:.25em;
		height:60px;
		padding: .75em;
		color: #1A8EC0;
		font-size: 1.5em;
		border: none;
		box-shadow: none;
		border-radius: 2px;
	}
	input[type="submit"] {
		font-size: 1.5em;
		margin: 30px 0 0 0;
		height: 60px;
		font-weight: 700;
		background-color:#1A8EC0;
		border-radius:2px;
	}
	.input-wrapper:nth-of-type(1), .input-wrapper:nth-of-type(2) {
		padding:0 .125em;
		width: 37.5%;
	}
	.input-wrapper:nth-of-type(3) {
		width: 25%;
		padding: 0 .125em;
	}
	.button.expand {
		padding-right: 0;
  	padding-left: 0;
  	width: 100%;
  }
}