.dropzone{
    border: 2px dashed #ccc;
    border-radius: 5px;
    background: white;
    height: 250px;
}


.dropzone .dz-message{
text-align: center;
margin: 3.5em 0;
}


.dropzone .dz-message .note {
font-size: 0.8em;
font-weight: 200;
display: block;
margin-top: 1.4rem;}


.dropzone.dz-clickable {
cursor: pointer;
}




