
<!-- End Section Title-->
<div class="row">
	<div class="column small-12">
		<label>Job Title
	        <input type="text" placeholder="" value="Job Title" />
	     </label>	
	</div>
</div>

<div class="row">
	<div class="column small-12">
		<label>Company
	        <input type="text" placeholder="" value="Company Name" />
	     </label>	
	</div>
</div>


<div class="row">
	<div class="column small-12">
		<label>Description
	        <textarea type="text" placeholder="Tell us what you did each day at this job" value=""></textarea>
	     </label>	
	</div>
</div>
<%= render 'resumes/time_start_end_fields' %>
<%= render 'resumes/edit_save_buttons' %>