<div class="row">
			<div class="column small-12">
				<label>School
			        <input type="text" placeholder="" value="UGA" />
			     </label>
			</div>
		</div>


		<div class="row">
			<div class="column small-12">
				<label>Degree
			        <input type="text" placeholder="" value="Bachelor of Arts in Environmental Design" />
			     </label>
			</div>
		</div>

		
			
		<div class="row">
			<div class="column small-12"><label>Graduation Date  </label> </div>

		      <div class="column small-3">
		      						<select>
							<option value="husker">Jan</option>
							<option value="starbuck">Feb</option>
							<option value="hotdog">March</option>
							<option value="apollo">April</option>
						</select>	
				</div>
				
				<!-- End Month-->
				
					<div class="column small-3">
						<input type="text" placeholder="Year" value="" />

					</div>
					<!-- End Year-->
			<div class="column small-12">
			  	<h5><small>Current students: Enter expected graudation date.</small></h5>
			</div>
		 </div>

		 <%= render 'resumes/edit_save_buttons' %>