<div class="row">
	<div class="column small-12 medium-10 medium-centered">
		<ol class="progress_resume">
		  <li class="<%= @step_one_active %>" data-step="1">
		    Upload Resume
		  </li>
		  <li class="<%= @step_two_active %>" data-step="2">
		    Add Details
		  </li>
		  <li class="<%= @step_three_active %> progress_resume_last"  data-step="3">
		    Preview Resume
  		</li>
		</ol>
	</div>
</div>