<% @skills = ["Interface", "Icon", "Typography", "Color", "Design", "Illustration", "Component", "Misc", "Infrastructure", "Application", "Mobile", "Desktop"] %>

<% @skills_list = @skills.to_s.gsub(/\"/, "").gsub(/\[/, "").gsub(/\]/, "") %>

<div class="skills-show">
	<div class="row">
		<div class="column small-7 medium-9">
			<ul class="tags">
				<% @skills.each do |skill| %>
			    <li><a><%= skill %></a></li>
			  <% end %>
		  </ul>
		</div>
		<div class="column small-5 medium-3">
			<ul class="inline-list right">
				<li>
					<a onclick="$('.skills-show').toggleClass('hide');$('.skills-edit').toggleClass('hide');">Edit</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="skills-edit hide">
	<div class="row">
	  <div class="column small-7 medium-9">
	    <textarea type="text"><%= @skills_list %></textarea>
	  </div>
		<div class="column small-5 medium-3">
			<ul class="inline-list right">
				<li>
					<a onclick="$('.skills-show').toggleClass('hide');$('.skills-edit').toggleClass('hide');">Save</a>
				</li>
				<li>
					<a onclick="$('.skills-show').toggleClass('hide');$('.skills-edit').toggleClass('hide');">Cancel</a>
				</li>
			</ul>
		</div>
	</div>
</div>