<div class="row">
	<div class="column large-6 small-12 show-for-large-up">
		<div id="dropzone">
			<form action="http://www.torrentplease.com/dropzone.php" class="dropzone dz-clickable" id="demo-upload">
				 <div class="dz-message">
		    	<h3>Drag  &amp; Drop</h3> or Click to browse for file<br>
		    	<span class="note">We accept .DOCX, .DOC, .RTF, .TXT, .PDF up to 500 KB.</span>
		  		</div>
			</form>
		</div>
	</div>




		<div class="column large-6 small-12 text-center">
			<p class="show-for-large-up">Addtional upload options</p>

			<a href="#" data-reveal-id="myModal" class="button expand">Copy &amp; Paste Resume</a>
			<a href="#" class="button expand hide-for-large-up">Browse for file</a>
			<a href="#" class="button expand">Dropbox</a>
			<a href="#" class="button expand">Google Drive</a>
		
		<!-- Modal-->

		<div id="myModal" class="reveal-modal large-6 small-12 medium-6" data-reveal>
			<h2>Copy &amp; Paste Resume</h2>
			<div class="column large-12">
			 	<textarea placeholder=""></textarea>
			 	<div class="button large-4 small-12 medium-4"> Save</div>
			 </div>
			 <a class="close-reveal-modal">&#215;</a>
		</div>
	</div>

</div>