<div class="row">
	<div class="column small-12 large-12 medium-12">
		<h1>Cover Letter</h1>
	</div>
</div>



<div class="row">
	<div class="column small-12 large-8 medium-6">
		<div data-alert class="alert-box info">
	 	<strong>You haven't added a cover letter yet.</strong></br>
	 	Recruiters or future employers could be looking for you.
	  	<a href="#" class="close">&times;</a>
		</div>
		<div class="row">
	    <div class="large-12 columns">
	      <label>Title 
	        <input type="text" placeholder="Name of cover letter" />
	      </label>
	    </div>
	  </div>
		
	</div>
</div>

<div class="row">
   <div class="column small-12 large-8 medium-6">
   <label>Cover Letter
        <textarea placeholder=""></textarea>
      </label>
    </div>
</div>

  <div class="row">
   <div class="column small-12 large-8 medium-6">
      <a href="#" class="button expand">Save</a>
    </div>
  </div>