<h1>Cover Letter</h1>

<div class="row">
	<div class="column small-12 large-8 medium-6">
		<div class="row">
	    <div class="large-12 columns">
	      <label>Cover Letter Name
	        <input type="text" placeholder="Name of cover letter" />
	      </label>
	    </div>
	  </div>
		
	</div>
</div>

<div class="row">
   <div class="column small-12 large-8 medium-6">
      <label>Select Box
        <select>
          <option value="husker">Husker</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
      </label>
    </div>
  </div>

  <div class="row">
   <div class="column small-12 large-8 medium-6">
      <a href="#" class="button expand">Save</a>
    </div>
  </div>