<div class="row">

	<div class="column small-12 medium-12 large-12">
		<h1>Upload Resume</h1>
		<h5 class="subheader">Reach thousands of active employers when you upload a resume.</h5>
	</div>
</div>



<div class="row">
	<div class="column large-6">
		<div id="dropzone"><form action="http://www.torrentplease.com/dropzone.php" class="dropzone dz-clickable" id="demo-upload">

		  <div class="dz-message">
		    <h3>Drag  &amp; Drop</h3> or Click to browse for file<br>
		    <span class="note">We accept .DOCX, .DOC, .RTF, .TXT, .PDF up to 500 KB.</span>
		    </div>
		</form></div>
	</div>

</div>






