<div class="row">

	<div class="column small-12 medium-12 large-12">
		<h1>Upload Resume</h1>
		<h5 class="subheader">Reach thousands of active employers when you upload a resume.</h5>
	</div>
</div>



<%= render 'resumes/upload_resume' %>




