<div class="row">
	<div class="column small-12">
		<h1>Edit Resume</h1>
	</div>

	<div class="column large-3 right">
	<h3>Resume Activity</h3>
		  <div class="box__body row">
		    <div class="stats stats--main">
		      <div class="stats__amount">12,698</div>
		      <div class="stats__caption">resume views</div>
		      <div class="stats__change">
		        <div class="stats__value stats__value--positive">+6%</div>
		        <div class="stats__period">this week</div>
		      </div>
		    </div>
		   </div>

		    <div class="box__body row">
		    <div class="stats stats--main">
		      <div class="stats__amount">69,889</div>
		      <div class="stats__caption">job applications</div>
		      <div class="stats__change">
		        <div class="stats__value stats__value--positive">+2%</div>
		        <div class="stats__period">this week</div>
		      </div>
		    </div>
		   </div>

		     <div class="box__body row">
		    <div class="stats stats--main">
		      <div class="stats__amount">13,467</div>
		      <div class="stats__caption">resume searches</div>
		      <div class="stats__change">
		        <div class="stats__value stats__value--negative">-12%</div>
		        <div class="stats__period">this week</div>
		      </div>
		    </div>
		   </div>


		   <a href ="#" class="alert expand show-for-medium-up"><i class="fa fa-trash "> Delete this Resume</i> </a>


	</div>
	<div class="column large-9">
		<%= render 'resume_preview' %>
	</div>
</div>

<div class="row">
	<div class="column small-12 large-centered">
		<a class="button expand" href="../recommendations/resumerecs">View Recomendations</a>
	</div>
</div>

