

<div class="row">
	<div class="column large-12">
		<div data-alert class="alert-box success text-center ">
		  We have automatically converted your document to an CareerBuilder Resume. Continue to preview your Careerbuilder resume.
		  <a href="#" class="close">&times;</a>
		</div>
	</div>
</div>

<div class="row">

	<div class="column small-12 medium-12 large-12">
		<h3>Resume Details</h3>
	</div>
</div>

<div class="row">
	<div class="column large-8 medium-6 small-12">
     <label>Desired Job Title <span data-tooltip aria-haspopup="true" class="has-tip" title="This will be used to rename your resume."> ?</span>
        <input type="text" placeholder="large-12.columns" />
      </label>
	</div>

</div>


<div class="row">
	<div class="column large-8 small-12">
      <label>Resume Privacy </label>
      <input id="checkbox1" type="checkbox"><label for="checkbox1"> <strong>Public Resume</strong> Visible to employers searching resumes Privacy Policy</label>
	</div>

</div>




<!--<div class="row">
	<div class="column large-12">
	<label>Selected Resume</label>
		<div data-alert class="alert-box secondary ">
		  <img src="#" title="icon" alt="icon" /> <span> Resume name uploaded</span>
		  <a href="#" class="close">&times;</a>
		</div>
	</div>
</div>

Name resume
<div class="row">
	<div class="column large-12 small-12">
     <label>Desired Job Title <span data-tooltip aria-haspopup="true" class="has-tip" title="This will be used to rename your resume."> ?</span>
        <input type="text" placeholder="large-12.columns" />
      </label>
	</div>

</div>

resume privacy
<div class="row">
	<div class="column large-12 small-12">
      <label>Resume Privacy </label>
      <input id="checkbox1" type="checkbox"><label for="checkbox1"> <strong>Public Resume</strong> Visible to employers searching resumes Privacy Policy</label>
	</div>

</div>

-->












