<!--<div class="row">
	<div class="column large-12 medium-12 small-12 ">
		<div data-alert class="alert-box success  ">
		  We have automatically converted your document to an CareerBuilder Resume. <br/> Continue to preview your Careerbuilder resume.
		  <a href="#" class="close">&times;</a>
		</div>
	</div>
</div>-->

<!-- Progress steps-->
<div class="row">
	<div class="column large-centered medium-centered">
		<ol class="progress_resume">
		  <li data-step="1">
		    Upload Resume
		  </li>
		  <li class="is-active"  data-step="2">
		    Add Details
		  </li>
		  <li data-step="3" class="progress_resume_last">
		    Preview Resume
  			</li>
		</ol>

	</div>
</div>

<!-- Progress steps-->

	<div class="row">

		<div class="column small-12 medium-12 large-12 ">
			<h1>Resume Details</h1>
		</div>
	</div>

	<div class="row">
		<div class="column large-8   small-12">
	     <label>Desired Job Title <span data-tooltip aria-haspopup="true" class="has-tip" title="This will be used to rename your resume."> ?</span>
	        <input type="text" placeholder="" />
	      </label>
		</div>

	</div>


	<div class="row">
		<div class="column large-8   small-12">
	      <label>Resume Privacy </label>
	      <input id="checkbox1" type="checkbox">
	      <label for="checkbox1"> <strong>Public Resume</strong> Visible to employers searching resumes.</label>
		</div>

	</div>


	<div class="row">
		<div class="column large-4 medium-4  small-12">
	      <div class="button expand">View Resume</div>
	     </div>

	</div>
