<div class="row">
<<<<<<< HEAD
	<div class="column large-8 large-centered">
		<div data-alert class="alert-box success text-center ">
		  We have automatically converted your document to an CareerBuilder Resume. <br/> Continue to preview your Careerbuilder resume.
		  <a href="#" class="close">&times;</a>
		</div>
	</div>
</div>

<div class="row">

	<div class="column small-12 medium-12 large-12 text-center">
		<h3>Resume Details</h3>
	</div>
</div>

<div class="row">
	<div class="column large-8 large-centered medium-centered small-12">
     <label>Desired Job Title <span data-tooltip aria-haspopup="true" class="has-tip" title="This will be used to rename your resume."> ?</span>
        <input type="text" placeholder="" />
      </label>
	</div>

</div>


<div class="row">
	<div class="column large-8 large-centered medium-centered small-12">
      <label>Resume Privacy </label>
      <input id="checkbox1" type="checkbox">
      <label for="checkbox1"> <strong>Public Resume</strong> Visible to employers searching resumes Privacy Policy</label>
	</div>

</div>


<div class="row">
	<div class="column large-8 medium- 8 large-centered medium-centered small-12">
      <div class="button expand">View Resume</div>
=======

	<div class="column small-12 medium-12 large-12 text-center">
		<h1>Upload Resume</h1>
		<h5 class="subheader">Reach thousands of active employers when you upload a resume.</h5>
	</div>
</div>



<div class="row">
	<div class="column large-6 small-12">
		<div id="dropzone">
			<form action="http://www.torrentplease.com/dropzone.php" class="dropzone dz-clickable" id="demo-upload">
				 <div class="dz-message">
		    	<h3>Drag  &amp; Drop</h3> or Click to browse for file<br>
		    	<span class="note">We accept .DOCX, .DOC, .RTF, .TXT, .PDF up to 500 KB.</span>
		  		</div>
			</form>
		</div>
>>>>>>> FETCH_HEAD
	</div>




		<div class="column large-6 small-12 text-center">
			<p>Addtional upload options</p>
		
			<a href="#" data-reveal-id="myModal" class="button expand">Copy &amp; Paste Resume</a>
			<a href="#" class="button expand">Dropbox</a>
			<a href="#" class="button expand">Google Drive</a>
		
		<!-- Modal-->

		<div id="myModal" class="reveal-modal large-6 small-6 medium-6" data-reveal>
			<h2>Copy &amp; Paste Resume</h2>
			<div class="column large-12">
			 	<textarea placeholder=""></textarea>
			 </div>
			 <a class="close-reveal-modal">&#215;</a>
		</div>
	</div>

</div>