<div class="row">
	<div class="column small-12">
		<h1>Resume Preview</h1>
	</div>
	<div class="column large-9">
		<%= render 'resume_preview' %>
	</div>
	<div class="column large-3">
		<ul>
			<li>FPO for Insights</li>
			<li>FPO for Insights</li>
			<li>FPO for Insights</li>
			<li>FPO for Insights</li>
		</ul>
	</div>
</div>
